<div class="span10" id="filesTool">

    <balk />
    
    

</div>
<script type="text/x-template"   id="move-entry-template">
    <li v-if="dir != undefined">
        <i  v-if="dir.children != undefined && dir.children.length > 0" class="icon-folder-open"></i>
        <i  v-if="dir.children == undefined || dir.children.length == 0" class="icon-folder-close"></i>
    <a  @click="moveSelectedFilesTo(dir)">{{dir.name}}</a>
        <ul v-if="dir.children != undefined && dir.children.length > 0" style="list-style:none;"> 
            <li  v-for="(dir,index) in dir.children" is="dir" :index="index" :dir="dir"  @moveselectedfilestodir="moveSelectedFilesTo($event)"></li>
        </ul>
    
    </li>
</script>

<script type="text/x-template"  id="part-entry-template">
    <span>
        <span v-if="initials != undefined && name != undefined" class='initials' :title="name" :alt="name">{{initials}}</span>
        <span  v-if="date != undefined" class="date" :title="formatLongDate(date)" :alt="formatLongDate(date)">{{formatDate(date)}}</span>
    </span>
</script>


<script type="text/x-template"   id="comment-entry-template">
    <div :class="commentClass" v-if="comment != undefined">
    <pentry :initials="comment.commentorInitials" :date="comment.dateCreated" :name="comment.commentorName" ></pentry>
{{comment.comment}} 
   <span v-if="comment.resolved != undefined" class="pull-right">
        <label v-if="comment.resolved == false"  @click="resolveComment()"><input type="checkbox" @click="resolveComment()"/> resolve</label>
        <i v-if="comment.resolved" :alt="comment.resolverName" :title="comment.resolverName">resolved {{formatDate(comment.dateResolved)}}</i>
    </span> 

   <span v-if="comment.undoAction != undefined" class="pull-right">
        <label  @click="undo()"><input type="checkbox" @click="undo()"/> undo</label></span>

    </span> 

    </div>
</script>


<script type="text/x-template" id="file-entry-template">
<tr v-bind:id="rowId" v-if="file != undefined" :class="curationStatus">
    <td>{{ 1 + index}} <input type="checkbox" name="select" v-model="file.selected" @click="select()"/></td>
    <td> <span v-if="file.size == undefined " class="link" @click="cd(file)"><i class="icon-folder-close"></i> {{file.name}} </span> 
         <span v-if="file.size != undefined "><a :href="downloadUrl">{{file.name }}</a>  <span v-if="file.parts != undefined && file.parts.length > 0" class="label" 
         data-toggle="tooltip" data-placement="top" :title="partNames"
         
         >{{1+file.parts.length}}</span> </span> </td>
    <td>
        <pentry v-if="file.size != undefined" :initials="file.uploaderInitials" :date="file.dateCreated" :name="file.uploaderName" ></pentry> 
                
        </td>
    <td v-if="fullservice">  <input type="text" name="filenote" v-model="file.note" :value="file.note" /> <span class="link" v-if="noteChanged" @click="updateNote()">save</span> </td>
    <td>
        <a :href="fileLink" v-if="file.resourceId == undefined && file.size != undefined"><i class="icon-pencil"></i></a>
    </td>

    <td v-if="fullservice && (file.curate == undefined || file.curate == true)">
        <pentry :initials="file.curatedByInitials" :date="file.dateCurated" :name="file.curatedByName" ></pentry> 
        <i v-if="canCurate" @click="markCurated()" class="icon-thumbs-up"></i>
        <i v-if="!cannotCurate" @click="wontCurate()" class="icon-thumbs-down"></i>
    </td>
    <td v-if="fullservice && initialreviewed"> 
        <pentry :initials="file.initialReviewedByInitials" :date="file.dateInitialReviewed" :name="file.initialReviewedByName" ></pentry> 
        <i v-if="canInitialReview" @click="markinitialReviewed()" class="icon-thumbs-up"></i></td>
    <td v-if="fullservice">
       <pentry :initials="file.reviewedByInitials" :date="file.dateReviewed" :name="file.reviewedByName" ></pentry> 
        <i v-if="canReview" @click="markReviewed()" class="icon-thumbs-up"></i></td>
    <td v-if="fullservice && externalreviewed">
       <pentry :initials="file.externalReviewedByInitials" :date="file.dateExternalReviewed" :name="file.externalReviewedByName" ></pentry> 
        <i v-if="canExternalReview" @click="markExternalReviewed()" class="icon-thumbs-up"></i></td>
    <td><a :href="file.resourceUrl">{{file.resourceId }}</a> {{file.resourceStatus}}  
    </td>
    <td><a :href="file.projectUrl">{{file.projectId }}</a>  
    </td>
    <td nowrap v-if="fullservice">
        <a @click="showComments()"><i class="icon-comment"></i>
        <span class="label"v-if="file.comments != undefined && file.comments.length > 0">{{file.comments.length}}</span></a>
    </td>
    <td>
        <a v-if="file.resourceId == undefined && file.size != undefined" @click="deleteFile()"><i class="icon-trash"></i></a>
    </td>
    </tr>
</script>

<script type="text/x-template"  id="balk-template">
<form class="form-horizontal" >
<div id="balkTemplate" v-show="balkVisible">
<div class="row">
    <div class="span6">
    <label  style="display:inline">Account:
        <select name="account" id="accountId" v-model="accountId">
                <option v-for="(option, index) in accounts" v-bind:value="option.id"> {{ option.name }} </option>
        </select>
    </label>
	<a v-if="selectedAccount != undefined" :href="selectedAccount.detailUrl"><i class="icon-info-sign"></i></a>
    </div>
    <div class="span4">
        <input type="search" class="search input pull-right" placeholder="search" v-model="search" />
    </div>
</div>

<table class="table" id="filesTable">
<thead>
 <tr>
    <th></th>
    <th><span @click="sortBy('FILENAME')">File Name</span></th>
    <th><span @click="sortBy('DATE_UPLOADED')">Added</span></th>
    <th v-if="fullService"><span @click="sortBy('NOTE')">Note</span></th>
    <th></th>
    <th v-if="fullService"><span @click="sortBy('DATE_CURATED')">Curate</span></th>
    <th v-if="fullService && initialReviewed"><span @click="sortBy('DATE_INITIAL_REVIEWED')">Initial Review</span></th>
    <th v-if="fullService"><span @click="sortBy('DATE_REVIEWED')"><span v-if="initialReviewed">Staff </span> Review</span></th>
    <th v-if="fullService && externalReviewed"><span @click="sortBy('DATE_EXTERNAL_REVIEWED')">External Review</span></th>
    <th>status</th>
    <th>project</th>
    <th colspan="2"></th>
 </tr>
</thead>
<tr>
 <td colspan="20">
<span class="link" @click="cd(undefined)">/ </span> <span v-for="(dir, index) in dirStack">
		<span v-if="index != 0"> / </span> <span class="link" @click="cd(dir)">{{dir.name}}</span>
</span> 

<div class="pull-right">
<span v-if="currentDir() != undefined && currentDir().collection != undefined"> (linked to <a :href="currentDir().collection.detailUrl" target=_blank>{{ currentDir().collection.name }}</a>) </span>

<span class="dropdown" >
    <!-- Link or button to toggle dropdown -->
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-tasks"></i>
  </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" >
    <li :class="dirActionsEnabledClass">
       <a id="renamePlaceholder" @click="showRename()" >(rename)</a>
    </li>
  <li :class="dirActionsEnabledLinkClass"><a   @click="collectionUI()" tabindex="-1" href="#">Link to Collection</a></li>
  <li :class="dirActionsEnabledUnlinkClass" ><a tabindex="-1"  @click="updateLinkedCollection()" href="#">Update Linked Collection</a></li>
  <li :class="dirActionsEnabledUnlinkClass" ><a tabindex="-1"  @click="unlinkCollection()" href="#">Unlink</a></li>
</ul>
</span>
</div>
	
<span v-if="dirStack.length > 0">
	<div id="renamePart" v-show="renameVisible">
		<input name="rename" id="rename" type="text" v-model="rename" />
        <span @click="renameDir()" class="link">ok</span>
        <span class="link" @click="cancelRename()">cancel</span>
	</div>
</span>
</td>
</tr>
        <tbody >
            <tr v-if="parentId != undefined">
            <td></td>
            <td> <span class="link" @click="cd(upOne)"><i class="icon-folder-close"></i> .. </span>  </td>
            </tr>
            <tr class="template-download fade existing-file in" v-for="(file,index) in files"
                is="fileEntry" :index="index" :file="file" :editable="ableToUpload"
				 @cd="cd($event)" @toggleselect="toggleSelect($event)"
				 @showcomments="showComments($event)"  @deletefile="deleteFile($event)"  
                :fullservice="fullService" :initialreviewed="initialReviewed" :externalreviewed="externalReviewed"></tr>
<tr>
 <td colspan="20"><p style='text-align:center;font-weight:bold'>Note: files in this space expire after {{daysFilesExpireAfter}} days.</p></td>
</tr>
        </tbody>
</table>

<div class="row">
    <div class="span7">
        <div class="btn-group">
            <button class="btn" type="button" id="move" @click="moveUI()" :disabled="cannotMoveSelected">Move Selected</button> 
            <button class="btn" type="button" id="create" @click="createRecordFromSelected()" :disabled="cannotCreateRecordfromSelected">Create Record</button>
        		<a v-if="fullService" class="btn" type="button" @click="showReports()">Reports</a> 
        </div>
        <span class="label" data-toggle="tooltip" data-placement="top" :title="selectedFileNames"> {{selectedFiles.length}} selected </span>
    </div>
    <div class="span3">
        <div class="input-append">
            <input class="span2" id="dirName" name="dirName" ref="dirName" type="text" v-model="dirName">
            <button class="btn" type="button" id="mkdir" @click="mkdir">Add Folder</button>
        </div>
    </div>
   </div>
<br/><br/>
<div class="row">
<div class="span2">
    <label class="btn btn-success fileinput-button" :disabled="inputDisabled" for="fileupload" id="fileuploadWrapper"> <i
        class="glyphicon glyphicon-plus"></i> <span>Upload 
            files...</span> <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple :disabled="inputDisabled" >
    </label>
    </div>
<div class="span8">
    <!-- The global progress bar -->
    <div id="progress" class="progress progress-striped span7" style="margin-top:5px">
        <div class="progress-bar progress-bar-success bar"></div>
    </div>
    <div id="uploadstatus"></div>
     <div id="fileUploadErrors" class="fileuploaderrors controls controls-row">
        
        <ul v-for="(error,index) in warnings" >
            <li> <label :for="append('fue',index )">{{ error }}</label></li>
        </ul>
        <ul v-for="(error,index) in errors" >
            <li> <label :for="append('fue',index )">{{ error }}</label>
                 <input type="text" :id="append('fue',index )" required="true" class=" required hidden"  :title="error" /> </li>
        </ul>

    </div>
    </div>



    <!--  COMMENT MODAL -->
    <div class="modal hide fade" id="comments-template-modal" v-if="commentFile != undefined">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 v-if="commentFile != undefined">Comments for {{commentFile.name}}</h3>
      </div>
      <div class="modal-body">
        <div>
                <div  v-for="(comment,index) in comments" :fileid="commentFile.id"
					@unmark="unMarkComment($event)" @uncurate="unCurate($event)"
                    is="comment" :index="index" :comment="comment"></div>
        </div>
        <textarea name="comment" v-model="comment"></textarea>
        <span  class="link" @click="addComment()">add comment</span>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
      </div>
    </div>


    <!--  MOVE MODAL -->
    <div class="modal hide fade" id="move-template-modal">
      <div class="modal-header">
        <button type="button" class="close"  @click="cancelMove()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 v-if="selectedFiles != undefined ">Move File(s): {{selectedFiles.length }}</h3>
      </div>
      <div class="modal-body">
        <div>
        <p>Click on a folder to move files into that directory:
            <ul v-if="dirTree != undefined && dirTree.length > 0" class="unstyled">
            <li  v-for="(dir,index) in dirTree" is="dir" :index="index" @moveselectedfilestodir="moveSelectedFilesTo($event)"  :dir="dir"></li>
            </ul>
        </p>
            
         <p v-if="this.accounts.length > 1">Or, select an account to move files there</p>
            <select name="account" v-model="moveAccountId">
                    <option v-for="(option, index) in accounts" v-bind:value="option.id"> {{ option.name }} </option>
            </select>
         
        </div>
      </div>
      <div class="modal-footer">
        <a  data-dismiss="modal" @click="cancelMove()" class="btn">Cancel</a>
      </div>
    </div>

    <!--  COLLECTION MODAL -->
    <div class="modal hide fade" id="collection-modal">
      <div class="modal-header">
        <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Link {{currentDir.name}}</h3>
      </div>
      <div class="modal-body">
        <div>
        <p>Choose a collection to link to:
        <autocomplete url="/api/lookup/collection"
             field="term"  
            resultsuffix="collections"
        @autocompletevalueset="selectCollection" ref="input"
        fieldname="title" :allowCreate="false" idname="id" />

        </p>
            
        </div>
      </div>
      <div class="modal-footer">
        <a  data-dismiss="modal" @click="linkCollection()" class="btn-active btn">Link</a>
        <a  data-dismiss="modal" href="#" class="btn">Cancel</a>
      </div>
    </div>


</div>
     <reports :accountId="accountId" :account="selectedAccount" @showBalk="hideReports()" :showreports="reportsVisible" />
</div>
</form>


</script>


<script type="text/x-template" id="reports-template">
<div id="filesReport" v-show="showreports != undefined && showreports == true">
<h3>{{accountName}} <a class='refresh' @click='refresh()'><i class='icon-refresh'></i></a></h3>
<ul class="nav nav-tabs" id="reports">
  <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
  <li><a href="#recent" data-toggle="tab">Recent Changes</a></li>
  <li><a @click="hideReports()" >Return to Files</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="summary">
<table class="table" v-if="summary != undefined">
    <thead>
        <tr>
            <th>Directory</th>
            <th>Added</th>
            <th>Resources</th>
            <th>Curated</th>
            <th v-if="initialReview == true">Initial Reviewed</th>
            <th>Reviewed</th>
            <th v-if="externalReview == true">External Reviewed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>Total:</b></td>
            <td>{{summary.added}}</td>
            <td>{{summary.resource}}</td>
            <td>{{summary.curated}}</td>
            <td v-if="initialReview == true">{{summary.initialReviewed}}</td>
            <td>{{summary.reviewed}}</td>
            <td v-if="externalReview == true">{{summary.externalReviewed}}</td>
        </tr>
        <tr v-for="(dir,index) in summary.parts" >
            <td>{{dir.dirPath}}</td>
            <td>{{dir.added}}</td>
            <td>{{dir.resource}}</td>
            <td>{{dir.curated}}</td>
            <td v-if="initialReview == true">{{dir.initialReviewed}}</td>
            <td>{{dir.reviewed}}</td>
            <td v-if="externalReview == true">{{dir.externalReviewed}}</td>
        </tr>
        
    </tbody>
</table>
  
  </div>
  <div class="tab-pane" id="recent">

<div v-if='recent != undefined' class='row'>
    <div class="span3">
            <select name="userId" id="userId" v-model="userId">
                    <option>All Users</option>
                    <option v-for="(option, index) in recent.userMap" v-bind:value="option.id"> {{ option.name }} </option>
            </select>
    </div>
    <div class="span3">
        <div class="input-append" >
            <label for="dateStart" style="display:inline">From:
            <input v-model="dateStart" type="text" name="dateStart" id="dateStart" class="placeholdered " data-date-format="mm/dd/yy" placeholder="mm/dd/yy">
            <span class="add-on"><i class="icon-th"></i></span>
            </label>
        </div>
    </div>
    <div class="span3">
        <div class="input-append" >
            <label for="dateEnd" style="display:inline">To:
            <input v-model="dateEnd" type="text" name="dateEnd" id="dateEnd" class="placeholdered " data-date-format="mm/dd/yy" placeholder="mm/dd/yy">
            <span class="add-on"><i class="icon-th"></i></span>
            </label>
        </div>
    </div>
</div>
<table class="table"  v-if="recent != undefined && recent.files != undefined">
<tr>
<th>Recently Changed Files</th>
<th>Added</th>
<th>Resource Created</th>
<th>Curated</th>
<th v-if="initialReview == true">Initial Reviewed</th>
<th>Reviewed</th>
<th v-if="externalReview == true">External Reviewed</th>
</tr>
<tr>    
    <th>Total:{{recent.files.length}}</th>
    <th>{{recent.created}}</th>
    <th>{{recent.resource}}</th>
    <th>{{recent.curated}}</th>
    <th v-if="initialReview == true">{{recent.initialReviewed}}</th>
    <th>{{recent.reviewed}}</th>
    <th v-if="externalReview == true">{{recent.externalReviewed}}</th>

</tr>
<tr v-for="(file, index) in recent.files">
<td>{{file.name}}</td>
<td><span v-if="file.created"><i class="icon-check"></i></span></td>
<td><span v-if="file.resource"><i class="icon-check"></i></span></td>
<td><span v-if="file.curated"><i class="icon-check"></i></span></td>
<td v-if="initialReview == true"><span v-if="file.initialReviewed"><i class="icon-check"></i></span></td>
<td><span v-if="file.reviewed"><i class="icon-check"></i></span></td>
<td v-if="externalReview == true"><span v-if="file.externalReviewed"><i class="icon-check"></i></span></td>
<td></td>
</tr>
</table>
  
  
  </div>
</div>
 

</div>
</div>
</script>

<script id="insert"></script>