/* @formatter:off */
/* http://www.manuel-bieh.de/blog/famfamfam-silk-icons-css-sprite-version */
.iconf {background-color: transparent; background-image: url(../images/famfamfam.png); background-repeat: no-repeat; display: inline-block; height: 16px; width: 16px; margin: 0; vertical-align: baseline;}
.iconf.add {background-position: -0px -0px;}
.iconf.anchor {background-position: -18px -0px;}
.iconf.application {background-position: -36px -0px;}
.iconf.application-add {background-position: -54px -0px;}
.iconf.application-cascade {background-position: -72px -0px;}
.iconf.application-delete {background-position: -90px -0px;}
.iconf.application-double {background-position: -108px -0px;}
.iconf.application-edit {background-position: -126px -0px;}
.iconf.application-error {background-position: -144px -0px;}
.iconf.application-form {background-position: -162px -0px;}
.iconf.application-form-add {background-position: -180px -0px;}
.iconf.application-form-delete {background-position: -198px -0px;}
.iconf.application-form-edit {background-position: -216px -0px;}
.iconf.application-form-magnify {background-position: -234px -0px;}
.iconf.application-get {background-position: -252px -0px;}
.iconf.application-go {background-position: -270px -0px;}
.iconf.application-home {background-position: -288px -0px;}
.iconf.application-key {background-position: -306px -0px;}
.iconf.application-lightning {background-position: -324px -0px;}
.iconf.application-link {background-position: -342px -0px;}
.iconf.application-osx {background-position: -360px -0px;}
.iconf.application-osx-terminal {background-position: -378px -0px;}
.iconf.application-put {background-position: -396px -0px;}
.iconf.application-side-boxes {background-position: -414px -0px;}
.iconf.application-side-contract {background-position: -432px -0px;}
.iconf.application-side-expand {background-position: -450px -0px;}
.iconf.application-side-list {background-position: -468px -0px;}
.iconf.application-side-tree {background-position: -486px -0px;}
.iconf.application-split {background-position: -504px -0px;}
.iconf.application-tile-horizontal {background-position: -522px -0px;}
.iconf.application-tile-vertical {background-position: -540px -0px;}
.iconf.application-view-columns {background-position: -558px -0px;}
.iconf.application-view-detail {background-position: -576px -0px;}
.iconf.application-view-gallery {background-position: -0px -18px;}
.iconf.application-view-icons {background-position: -18px -18px;}
.iconf.application-view-list {background-position: -36px -18px;}
.iconf.application-view-tile {background-position: -54px -18px;}
.iconf.application-xp {background-position: -72px -18px;}
.iconf.application-xp-terminal {background-position: -90px -18px;}
.iconf.arrow-branch {background-position: -108px -18px;}
.iconf.arrow-divide {background-position: -126px -18px;}
.iconf.arrow-down {background-position: -144px -18px;}
.iconf.arrow-in {background-position: -162px -18px;}
.iconf.arrow-inout {background-position: -180px -18px;}
.iconf.arrow-join {background-position: -198px -18px;}
.iconf.arrow-left {background-position: -216px -18px;}
.iconf.arrow-merge {background-position: -234px -18px;}
.iconf.arrow-out {background-position: -252px -18px;}
.iconf.arrow-redo {background-position: -270px -18px;}
.iconf.arrow-refresh {background-position: -288px -18px;}
.iconf.arrow-refresh-small {background-position: -306px -18px;}
.iconf.arrow-right {background-position: -324px -18px;}
.iconf.arrow-rotate-anticlockwise {background-position: -342px -18px;}
.iconf.arrow-rotate-clockwise {background-position: -360px -18px;}
.iconf.arrow-switch {background-position: -378px -18px;}
.iconf.arrow-turn-left {background-position: -396px -18px;}
.iconf.arrow-turn-right {background-position: -414px -18px;}
.iconf.arrow-undo {background-position: -432px -18px;}
.iconf.arrow-up {background-position: -450px -18px;}
.iconf.asterisk-orange {background-position: -468px -18px;}
.iconf.asterisk-yellow {background-position: -486px -18px;}
.iconf.attach {background-position: -504px -18px;}
.iconf.award-star-add {background-position: -522px -18px;}
.iconf.award-star-bronze-1 {background-position: -540px -18px;}
.iconf.award-star-bronze-2 {background-position: -558px -18px;}
.iconf.award-star-bronze-3 {background-position: -576px -18px;}
.iconf.award-star-delete {background-position: -0px -36px;}
.iconf.award-star-gold-1 {background-position: -18px -36px;}
.iconf.award-star-gold-2 {background-position: -36px -36px;}
.iconf.award-star-gold-3 {background-position: -54px -36px;}
.iconf.award-star-silver-1 {background-position: -72px -36px;}
.iconf.award-star-silver-2 {background-position: -90px -36px;}
.iconf.award-star-silver-3 {background-position: -108px -36px;}
.iconf.basket {background-position: -126px -36px;}
.iconf.basket-add {background-position: -144px -36px;}
.iconf.basket-delete {background-position: -162px -36px;}
.iconf.basket-edit {background-position: -180px -36px;}
.iconf.basket-error {background-position: -198px -36px;}
.iconf.basket-go {background-position: -216px -36px;}
.iconf.basket-put {background-position: -234px -36px;}
.iconf.basket-remove {background-position: -252px -36px;}
.iconf.bell {background-position: -270px -36px;}
.iconf.bell-add {background-position: -288px -36px;}
.iconf.bell-delete {background-position: -306px -36px;}
.iconf.bell-error {background-position: -324px -36px;}
.iconf.bell-go {background-position: -342px -36px;}
.iconf.bell-link {background-position: -360px -36px;}
.iconf.bin {background-position: -378px -36px;}
.iconf.bin-closed {background-position: -396px -36px;}
.iconf.bin-empty {background-position: -414px -36px;}
.iconf.bomb {background-position: -432px -36px;}
.iconf.book {background-position: -450px -36px;}
.iconf.book-add {background-position: -468px -36px;}
.iconf.book-addresses {background-position: -486px -36px;}
.iconf.book-delete {background-position: -504px -36px;}
.iconf.book-edit {background-position: -522px -36px;}
.iconf.book-error {background-position: -540px -36px;}
.iconf.book-go {background-position: -558px -36px;}
.iconf.book-key {background-position: -576px -36px;}
.iconf.book-link {background-position: -0px -54px;}
.iconf.book-next {background-position: -18px -54px;}
.iconf.book-open {background-position: -36px -54px;}
.iconf.book-previous {background-position: -54px -54px;}
.iconf.box {background-position: -72px -54px;}
.iconf.brick {background-position: -90px -54px;}
.iconf.brick-add {background-position: -108px -54px;}
.iconf.brick-delete {background-position: -126px -54px;}
.iconf.brick-edit {background-position: -144px -54px;}
.iconf.brick-error {background-position: -162px -54px;}
.iconf.brick-go {background-position: -180px -54px;}
.iconf.brick-link {background-position: -198px -54px;}
.iconf.bricks {background-position: -216px -54px;}
.iconf.briefcase {background-position: -234px -54px;}
.iconf.bug {background-position: -252px -54px;}
.iconf.bug-add {background-position: -270px -54px;}
.iconf.bug-delete {background-position: -288px -54px;}
.iconf.bug-edit {background-position: -306px -54px;}
.iconf.bug-error {background-position: -324px -54px;}
.iconf.bug-go {background-position: -342px -54px;}
.iconf.bug-link {background-position: -360px -54px;}
.iconf.building {background-position: -378px -54px;}
.iconf.building-add {background-position: -396px -54px;}
.iconf.building-delete {background-position: -414px -54px;}
.iconf.building-edit {background-position: -432px -54px;}
.iconf.building-error {background-position: -450px -54px;}
.iconf.building-go {background-position: -468px -54px;}
.iconf.building-key {background-position: -486px -54px;}
.iconf.building-link {background-position: -504px -54px;}
.iconf.bullet-add {background-position: -522px -54px;}
.iconf.bullet-arrow-bottom {background-position: -540px -54px;}
.iconf.bullet-arrow-down {background-position: -558px -54px;}
.iconf.bullet-arrow-top {background-position: -576px -54px;}
.iconf.bullet-arrow-up {background-position: -0px -72px;}
.iconf.bullet-black {background-position: -18px -72px;}
.iconf.bullet-blue {background-position: -36px -72px;}
.iconf.bullet-delete {background-position: -54px -72px;}
.iconf.bullet-disk {background-position: -72px -72px;}
.iconf.bullet-error {background-position: -90px -72px;}
.iconf.bullet-feed {background-position: -108px -72px;}
.iconf.bullet-go {background-position: -126px -72px;}
.iconf.bullet-green {background-position: -144px -72px;}
.iconf.bullet-key {background-position: -162px -72px;}
.iconf.bullet-orange {background-position: -180px -72px;}
.iconf.bullet-picture {background-position: -198px -72px;}
.iconf.bullet-pink {background-position: -216px -72px;}
.iconf.bullet-purple {background-position: -234px -72px;}
.iconf.bullet-red {background-position: -252px -72px;}
.iconf.bullet-star {background-position: -270px -72px;}
.iconf.bullet-toggle-minus {background-position: -288px -72px;}
.iconf.bullet-toggle-plus {background-position: -306px -72px;}
.iconf.bullet-white {background-position: -324px -72px;}
.iconf.bullet-wrench {background-position: -342px -72px;}
.iconf.bullet-yellow {background-position: -360px -72px;}
.iconf.cake {background-position: -378px -72px;}
.iconf.calculator {background-position: -396px -72px;}
.iconf.calculator-add {background-position: -414px -72px;}
.iconf.calculator-delete {background-position: -432px -72px;}
.iconf.calculator-edit {background-position: -450px -72px;}
.iconf.calculator-error {background-position: -468px -72px;}
.iconf.calculator-link {background-position: -486px -72px;}
.iconf.calendar {background-position: -504px -72px;}
.iconf.calendar-add {background-position: -522px -72px;}
.iconf.calendar-delete {background-position: -540px -72px;}
.iconf.calendar-edit {background-position: -558px -72px;}
.iconf.calendar-link {background-position: -576px -72px;}
.iconf.calendar-view-day {background-position: -0px -90px;}
.iconf.calendar-view-month {background-position: -18px -90px;}
.iconf.calendar-view-week {background-position: -36px -90px;}
.iconf.camera {background-position: -54px -90px;}
.iconf.camera-add {background-position: -72px -90px;}
.iconf.camera-delete {background-position: -90px -90px;}
.iconf.camera-edit {background-position: -108px -90px;}
.iconf.camera-error {background-position: -126px -90px;}
.iconf.camera-go {background-position: -144px -90px;}
.iconf.camera-link {background-position: -162px -90px;}
.iconf.camera-small {background-position: -180px -90px;}
.iconf.cancel {background-position: -198px -90px;}
.iconf.car {background-position: -216px -90px;}
.iconf.car-add {background-position: -234px -90px;}
.iconf.car-delete {background-position: -252px -90px;}
.iconf.cart {background-position: -270px -90px;}
.iconf.cart-add {background-position: -288px -90px;}
.iconf.cart-delete {background-position: -306px -90px;}
.iconf.cart-edit {background-position: -324px -90px;}
.iconf.cart-error {background-position: -342px -90px;}
.iconf.cart-go {background-position: -360px -90px;}
.iconf.cart-put {background-position: -378px -90px;}
.iconf.cart-remove {background-position: -396px -90px;}
.iconf.cd {background-position: -414px -90px;}
.iconf.cd-add {background-position: -432px -90px;}
.iconf.cd-burn {background-position: -450px -90px;}
.iconf.cd-delete {background-position: -468px -90px;}
.iconf.cd-edit {background-position: -486px -90px;}
.iconf.cd-eject {background-position: -504px -90px;}
.iconf.cd-go {background-position: -522px -90px;}
.iconf.chart-bar {background-position: -540px -90px;}
.iconf.chart-bar-add {background-position: -558px -90px;}
.iconf.chart-bar-delete {background-position: -576px -90px;}
.iconf.chart-bar-edit {background-position: -0px -108px;}
.iconf.chart-bar-error {background-position: -18px -108px;}
.iconf.chart-bar-link {background-position: -36px -108px;}
.iconf.chart-curve {background-position: -54px -108px;}
.iconf.chart-curve-add {background-position: -72px -108px;}
.iconf.chart-curve-delete {background-position: -90px -108px;}
.iconf.chart-curve-edit {background-position: -108px -108px;}
.iconf.chart-curve-error {background-position: -126px -108px;}
.iconf.chart-curve-go {background-position: -144px -108px;}
.iconf.chart-curve-link {background-position: -162px -108px;}
.iconf.chart-line {background-position: -180px -108px;}
.iconf.chart-line-add {background-position: -198px -108px;}
.iconf.chart-line-delete {background-position: -216px -108px;}
.iconf.chart-line-edit {background-position: -234px -108px;}
.iconf.chart-line-error {background-position: -252px -108px;}
.iconf.chart-line-link {background-position: -270px -108px;}
.iconf.chart-organisation {background-position: -288px -108px;}
.iconf.chart-organisation-add {background-position: -306px -108px;}
.iconf.chart-organisation-delete {background-position: -324px -108px;}
.iconf.chart-pie {background-position: -342px -108px;}
.iconf.chart-pie-add {background-position: -360px -108px;}
.iconf.chart-pie-delete {background-position: -378px -108px;}
.iconf.chart-pie-edit {background-position: -396px -108px;}
.iconf.chart-pie-error {background-position: -414px -108px;}
.iconf.chart-pie-link {background-position: -432px -108px;}
.iconf.clock {background-position: -450px -108px;}
.iconf.clock-add {background-position: -468px -108px;}
.iconf.clock-delete {background-position: -486px -108px;}
.iconf.clock-edit {background-position: -504px -108px;}
.iconf.clock-error {background-position: -522px -108px;}
.iconf.clock-go {background-position: -540px -108px;}
.iconf.clock-link {background-position: -558px -108px;}
.iconf.clock-pause {background-position: -576px -108px;}
.iconf.clock-play {background-position: -0px -126px;}
.iconf.clock-red {background-position: -18px -126px;}
.iconf.clock-stop {background-position: -36px -126px;}
.iconf.cog {background-position: -54px -126px;}
.iconf.cog-add {background-position: -72px -126px;}
.iconf.cog-delete {background-position: -90px -126px;}
.iconf.cog-edit {background-position: -108px -126px;}
.iconf.cog-error {background-position: -126px -126px;}
.iconf.cog-go {background-position: -144px -126px;}
.iconf.coins {background-position: -162px -126px;}
.iconf.coins-add {background-position: -180px -126px;}
.iconf.coins-delete {background-position: -198px -126px;}
.iconf.color-swatch {background-position: -216px -126px;}
.iconf.color-wheel {background-position: -234px -126px;}
.iconf.comment {background-position: -252px -126px;}
.iconf.comment-add {background-position: -270px -126px;}
.iconf.comment-delete {background-position: -288px -126px;}
.iconf.comment-edit {background-position: -306px -126px;}
.iconf.comments {background-position: -324px -126px;}
.iconf.comments-add {background-position: -342px -126px;}
.iconf.comments-delete {background-position: -360px -126px;}
.iconf.compress {background-position: -378px -126px;}
.iconf.computer {background-position: -396px -126px;}
.iconf.computer-add {background-position: -414px -126px;}
.iconf.computer-delete {background-position: -432px -126px;}
.iconf.computer-edit {background-position: -450px -126px;}
.iconf.computer-error {background-position: -468px -126px;}
.iconf.computer-go {background-position: -486px -126px;}
.iconf.computer-key {background-position: -504px -126px;}
.iconf.computer-link {background-position: -522px -126px;}
.iconf.connect {background-position: -540px -126px;}
.iconf.contrast {background-position: -558px -126px;}
.iconf.contrast-decrease {background-position: -576px -126px;}
.iconf.contrast-high {background-position: -0px -144px;}
.iconf.contrast-increase {background-position: -18px -144px;}
.iconf.contrast-low {background-position: -36px -144px;}
.iconf.control-eject {background-position: -54px -144px;}
.iconf.control-eject-blue {background-position: -72px -144px;}
.iconf.control-end {background-position: -90px -144px;}
.iconf.control-end-blue {background-position: -108px -144px;}
.iconf.control-equalizer {background-position: -126px -144px;}
.iconf.control-equalizer-blue {background-position: -144px -144px;}
.iconf.control-fastforward {background-position: -162px -144px;}
.iconf.control-fastforward-blue {background-position: -180px -144px;}
.iconf.control-pause {background-position: -198px -144px;}
.iconf.control-pause-blue {background-position: -216px -144px;}
.iconf.control-play {background-position: -234px -144px;}
.iconf.control-play-blue {background-position: -252px -144px;}
.iconf.control-repeat {background-position: -270px -144px;}
.iconf.control-repeat-blue {background-position: -288px -144px;}
.iconf.control-rewind {background-position: -306px -144px;}
.iconf.control-rewind-blue {background-position: -324px -144px;}
.iconf.control-start {background-position: -342px -144px;}
.iconf.control-start-blue {background-position: -360px -144px;}
.iconf.control-stop {background-position: -378px -144px;}
.iconf.control-stop-blue {background-position: -396px -144px;}
.iconf.controller {background-position: -414px -144px;}
.iconf.controller-add {background-position: -432px -144px;}
.iconf.controller-delete {background-position: -450px -144px;}
.iconf.controller-error {background-position: -468px -144px;}
.iconf.creditcards {background-position: -486px -144px;}
.iconf.cross {background-position: -504px -144px;}
.iconf.css {background-position: -522px -144px;}
.iconf.css-add {background-position: -540px -144px;}
.iconf.css-delete {background-position: -558px -144px;}
.iconf.css-go {background-position: -576px -144px;}
.iconf.css-valid {background-position: -0px -162px;}
.iconf.cup {background-position: -18px -162px;}
.iconf.cup-add {background-position: -36px -162px;}
.iconf.cup-delete {background-position: -54px -162px;}
.iconf.cup-edit {background-position: -72px -162px;}
.iconf.cup-error {background-position: -90px -162px;}
.iconf.cup-go {background-position: -108px -162px;}
.iconf.cup-key {background-position: -126px -162px;}
.iconf.cup-link {background-position: -144px -162px;}
.iconf.cursor {background-position: -162px -162px;}
.iconf.cut {background-position: -180px -162px;}
.iconf.cut-red {background-position: -198px -162px;}
.iconf.database {background-position: -216px -162px;}
.iconf.database-add {background-position: -234px -162px;}
.iconf.database-connect {background-position: -252px -162px;}
.iconf.database-delete {background-position: -270px -162px;}
.iconf.database-edit {background-position: -288px -162px;}
.iconf.database-error {background-position: -306px -162px;}
.iconf.database-gear {background-position: -324px -162px;}
.iconf.database-go {background-position: -342px -162px;}
.iconf.database-key {background-position: -360px -162px;}
.iconf.database-lightning {background-position: -378px -162px;}
.iconf.database-link {background-position: -396px -162px;}
.iconf.database-refresh {background-position: -414px -162px;}
.iconf.database-save {background-position: -432px -162px;}
.iconf.database-table {background-position: -450px -162px;}
.iconf.date {background-position: -468px -162px;}
.iconf.date-add {background-position: -486px -162px;}
.iconf.date-delete {background-position: -504px -162px;}
.iconf.date-edit {background-position: -522px -162px;}
.iconf.date-error {background-position: -540px -162px;}
.iconf.date-go {background-position: -558px -162px;}
.iconf.date-link {background-position: -576px -162px;}
.iconf.date-magnify {background-position: -0px -180px;}
.iconf.date-next {background-position: -18px -180px;}
.iconf.date-previous {background-position: -36px -180px;}
.iconf.delete {background-position: -54px -180px;}
.iconf.disconnect {background-position: -72px -180px;}
.iconf.disk {background-position: -90px -180px;}
.iconf.disk-multiple {background-position: -108px -180px;}
.iconf.door {background-position: -126px -180px;}
.iconf.door-in {background-position: -144px -180px;}
.iconf.door-open {background-position: -162px -180px;}
.iconf.door-out {background-position: -180px -180px;}
.iconf.drink {background-position: -198px -180px;}
.iconf.drink-empty {background-position: -216px -180px;}
.iconf.drive {background-position: -234px -180px;}
.iconf.drive-add {background-position: -252px -180px;}
.iconf.drive-burn {background-position: -270px -180px;}
.iconf.drive-cd {background-position: -288px -180px;}
.iconf.drive-cd-empty {background-position: -306px -180px;}
.iconf.drive-delete {background-position: -324px -180px;}
.iconf.drive-disk {background-position: -342px -180px;}
.iconf.drive-edit {background-position: -360px -180px;}
.iconf.drive-error {background-position: -378px -180px;}
.iconf.drive-go {background-position: -396px -180px;}
.iconf.drive-key {background-position: -414px -180px;}
.iconf.drive-link {background-position: -432px -180px;}
.iconf.drive-magnify {background-position: -450px -180px;}
.iconf.drive-network {background-position: -468px -180px;}
.iconf.drive-rename {background-position: -486px -180px;}
.iconf.drive-user {background-position: -504px -180px;}
.iconf.drive-web {background-position: -522px -180px;}
.iconf.dvd {background-position: -540px -180px;}
.iconf.dvd-add {background-position: -558px -180px;}
.iconf.dvd-delete {background-position: -576px -180px;}
.iconf.dvd-edit {background-position: -0px -198px;}
.iconf.dvd-error {background-position: -18px -198px;}
.iconf.dvd-go {background-position: -36px -198px;}
.iconf.dvd-key {background-position: -54px -198px;}
.iconf.dvd-link {background-position: -72px -198px;}
.iconf.email {background-position: -90px -198px;}
.iconf.email-add {background-position: -108px -198px;}
.iconf.email-attach {background-position: -126px -198px;}
.iconf.email-delete {background-position: -144px -198px;}
.iconf.email-edit {background-position: -162px -198px;}
.iconf.email-error {background-position: -180px -198px;}
.iconf.email-go {background-position: -198px -198px;}
.iconf.email-link {background-position: -216px -198px;}
.iconf.email-open {background-position: -234px -198px;}
.iconf.email-open-image {background-position: -252px -198px;}
.iconf.emoticon-evilgrin {background-position: -270px -198px;}
.iconf.emoticon-grin {background-position: -288px -198px;}
.iconf.emoticon-happy {background-position: -306px -198px;}
.iconf.emoticon-smile {background-position: -324px -198px;}
.iconf.emoticon-surprised {background-position: -342px -198px;}
.iconf.emoticon-tongue {background-position: -360px -198px;}
.iconf.emoticon-unhappy {background-position: -378px -198px;}
.iconf.emoticon-waii {background-position: -396px -198px;}
.iconf.emoticon-wink {background-position: -414px -198px;}
.iconf.error {background-position: -432px -198px;}
.iconf.error-add {background-position: -450px -198px;}
.iconf.error-delete {background-position: -468px -198px;}
.iconf.error-go {background-position: -486px -198px;}
.iconf.exclamation {background-position: -504px -198px;}
.iconf.eye {background-position: -522px -198px;}
.iconf.feed {background-position: -540px -198px;}
.iconf.feed-add {background-position: -558px -198px;}
.iconf.feed-delete {background-position: -576px -198px;}
.iconf.feed-disk {background-position: -0px -216px;}
.iconf.feed-edit {background-position: -18px -216px;}
.iconf.feed-error {background-position: -36px -216px;}
.iconf.feed-go {background-position: -54px -216px;}
.iconf.feed-key {background-position: -72px -216px;}
.iconf.feed-link {background-position: -90px -216px;}
.iconf.feed-magnify {background-position: -108px -216px;}
.iconf.female {background-position: -126px -216px;}
.iconf.film {background-position: -144px -216px;}
.iconf.film-add {background-position: -162px -216px;}
.iconf.film-delete {background-position: -180px -216px;}
.iconf.film-edit {background-position: -198px -216px;}
.iconf.film-error {background-position: -216px -216px;}
.iconf.film-go {background-position: -234px -216px;}
.iconf.film-key {background-position: -252px -216px;}
.iconf.film-link {background-position: -270px -216px;}
.iconf.film-save {background-position: -288px -216px;}
.iconf.find {background-position: -306px -216px;}
.iconf.flag-blue {background-position: -324px -216px;}
.iconf.flag-green {background-position: -342px -216px;}
.iconf.flag-orange {background-position: -360px -216px;}
.iconf.flag-pink {background-position: -378px -216px;}
.iconf.flag-purple {background-position: -396px -216px;}
.iconf.flag-red {background-position: -414px -216px;}
.iconf.flag-yellow {background-position: -432px -216px;}
.iconf.folder {background-position: -450px -216px;}
.iconf.folder-add {background-position: -468px -216px;}
.iconf.folder-bell {background-position: -486px -216px;}
.iconf.folder-brick {background-position: -504px -216px;}
.iconf.folder-bug {background-position: -522px -216px;}
.iconf.folder-camera {background-position: -540px -216px;}
.iconf.folder-database {background-position: -558px -216px;}
.iconf.folder-delete {background-position: -576px -216px;}
.iconf.folder-edit {background-position: -0px -234px;}
.iconf.folder-error {background-position: -18px -234px;}
.iconf.folder-explore {background-position: -36px -234px;}
.iconf.folder-feed {background-position: -54px -234px;}
.iconf.folder-find {background-position: -72px -234px;}
.iconf.folder-go {background-position: -90px -234px;}
.iconf.folder-heart {background-position: -108px -234px;}
.iconf.folder-image {background-position: -126px -234px;}
.iconf.folder-key {background-position: -144px -234px;}
.iconf.folder-lightbulb {background-position: -162px -234px;}
.iconf.folder-link {background-position: -180px -234px;}
.iconf.folder-magnify {background-position: -198px -234px;}
.iconf.folder-page {background-position: -216px -234px;}
.iconf.folder-page-white {background-position: -234px -234px;}
.iconf.folder-palette {background-position: -252px -234px;}
.iconf.folder-picture {background-position: -270px -234px;}
.iconf.folder-star {background-position: -288px -234px;}
.iconf.folder-table {background-position: -306px -234px;}
.iconf.folder-user {background-position: -324px -234px;}
.iconf.folder-wrench {background-position: -342px -234px;}
.iconf.font {background-position: -360px -234px;}
.iconf.font-add {background-position: -378px -234px;}
.iconf.font-delete {background-position: -396px -234px;}
.iconf.font-go {background-position: -414px -234px;}
.iconf.group {background-position: -432px -234px;}
.iconf.group-add {background-position: -450px -234px;}
.iconf.group-delete {background-position: -468px -234px;}
.iconf.group-edit {background-position: -486px -234px;}
.iconf.group-error {background-position: -504px -234px;}
.iconf.group-gear {background-position: -522px -234px;}
.iconf.group-go {background-position: -540px -234px;}
.iconf.group-key {background-position: -558px -234px;}
.iconf.group-link {background-position: -576px -234px;}
.iconf.heart {background-position: -0px -252px;}
.iconf.heart-add {background-position: -18px -252px;}
.iconf.heart-delete {background-position: -36px -252px;}
.iconf.help {background-position: -54px -252px;}
.iconf.hourglass {background-position: -72px -252px;}
.iconf.hourglass-add {background-position: -90px -252px;}
.iconf.hourglass-delete {background-position: -108px -252px;}
.iconf.hourglass-go {background-position: -126px -252px;}
.iconf.hourglass-link {background-position: -144px -252px;}
.iconf.house {background-position: -162px -252px;}
.iconf.house-go {background-position: -180px -252px;}
.iconf.house-link {background-position: -198px -252px;}
.iconf.html {background-position: -216px -252px;}
.iconf.html-add {background-position: -234px -252px;}
.iconf.html-delete {background-position: -252px -252px;}
.iconf.html-go {background-position: -270px -252px;}
.iconf.html-valid {background-position: -288px -252px;}
.iconf.image {background-position: -306px -252px;}
.iconf.image-add {background-position: -324px -252px;}
.iconf.image-delete {background-position: -342px -252px;}
.iconf.image-edit {background-position: -360px -252px;}
.iconf.image-link {background-position: -378px -252px;}
.iconf.images {background-position: -396px -252px;}
.iconf.information {background-position: -414px -252px;}
.iconf.ipod {background-position: -432px -252px;}
.iconf.ipod-cast {background-position: -450px -252px;}
.iconf.ipod-cast-add {background-position: -468px -252px;}
.iconf.ipod-cast-delete {background-position: -486px -252px;}
.iconf.ipod-sound {background-position: -504px -252px;}
.iconf.joystick {background-position: -522px -252px;}
.iconf.joystick-add {background-position: -540px -252px;}
.iconf.joystick-delete {background-position: -558px -252px;}
.iconf.joystick-error {background-position: -576px -252px;}
.iconf.key {background-position: -0px -270px;}
.iconf.key-add {background-position: -18px -270px;}
.iconf.key-delete {background-position: -36px -270px;}
.iconf.key-go {background-position: -54px -270px;}
.iconf.keyboard {background-position: -72px -270px;}
.iconf.keyboard-add {background-position: -90px -270px;}
.iconf.keyboard-delete {background-position: -108px -270px;}
.iconf.keyboard-magnify {background-position: -126px -270px;}
.iconf.layers {background-position: -144px -270px;}
.iconf.layout {background-position: -162px -270px;}
.iconf.layout-add {background-position: -180px -270px;}
.iconf.layout-content {background-position: -198px -270px;}
.iconf.layout-delete {background-position: -216px -270px;}
.iconf.layout-edit {background-position: -234px -270px;}
.iconf.layout-error {background-position: -252px -270px;}
.iconf.layout-header {background-position: -270px -270px;}
.iconf.layout-link {background-position: -288px -270px;}
.iconf.layout-sidebar {background-position: -306px -270px;}
.iconf.lightbulb {background-position: -324px -270px;}
.iconf.lightbulb-add {background-position: -342px -270px;}
.iconf.lightbulb-delete {background-position: -360px -270px;}
.iconf.lightbulb-off {background-position: -378px -270px;}
.iconf.lightning {background-position: -396px -270px;}
.iconf.lightning-add {background-position: -414px -270px;}
.iconf.lightning-delete {background-position: -432px -270px;}
.iconf.lightning-go {background-position: -450px -270px;}
.iconf.link {background-position: -468px -270px;}
.iconf.link-add {background-position: -486px -270px;}
.iconf.link-break {background-position: -504px -270px;}
.iconf.link-delete {background-position: -522px -270px;}
.iconf.link-edit {background-position: -540px -270px;}
.iconf.link-error {background-position: -558px -270px;}
.iconf.link-go {background-position: -576px -270px;}
.iconf.lock {background-position: -0px -288px;}
.iconf.lock-add {background-position: -18px -288px;}
.iconf.lock-break {background-position: -36px -288px;}
.iconf.lock-delete {background-position: -54px -288px;}
.iconf.lock-edit {background-position: -72px -288px;}
.iconf.lock-go {background-position: -90px -288px;}
.iconf.lock-open {background-position: -108px -288px;}
.iconf.lorry {background-position: -126px -288px;}
.iconf.lorry-add {background-position: -144px -288px;}
.iconf.lorry-delete {background-position: -162px -288px;}
.iconf.lorry-error {background-position: -180px -288px;}
.iconf.lorry-flatbed {background-position: -198px -288px;}
.iconf.lorry-go {background-position: -216px -288px;}
.iconf.lorry-link {background-position: -234px -288px;}
.iconf.magifier-zoom-out {background-position: -252px -288px;}
.iconf.magnifier {background-position: -270px -288px;}
.iconf.magnifier-zoom-in {background-position: -288px -288px;}
.iconf.male {background-position: -306px -288px;}
.iconf.map {background-position: -324px -288px;}
.iconf.map-add {background-position: -342px -288px;}
.iconf.map-delete {background-position: -360px -288px;}
.iconf.map-edit {background-position: -378px -288px;}
.iconf.map-go {background-position: -396px -288px;}
.iconf.map-magnify {background-position: -414px -288px;}
.iconf.medal-bronze-1 {background-position: -432px -288px;}
.iconf.medal-bronze-2 {background-position: -450px -288px;}
.iconf.medal-bronze-3 {background-position: -468px -288px;}
.iconf.medal-bronze-add {background-position: -486px -288px;}
.iconf.medal-bronze-delete {background-position: -504px -288px;}
.iconf.medal-gold-1 {background-position: -522px -288px;}
.iconf.medal-gold-2 {background-position: -540px -288px;}
.iconf.medal-gold-3 {background-position: -558px -288px;}
.iconf.medal-gold-add {background-position: -576px -288px;}
.iconf.medal-gold-delete {background-position: -0px -306px;}
.iconf.medal-silver-1 {background-position: -18px -306px;}
.iconf.medal-silver-2 {background-position: -36px -306px;}
.iconf.medal-silver-3 {background-position: -54px -306px;}
.iconf.medal-silver-add {background-position: -72px -306px;}
.iconf.medal-silver-delete {background-position: -90px -306px;}
.iconf.money {background-position: -108px -306px;}
.iconf.money-add {background-position: -126px -306px;}
.iconf.money-delete {background-position: -144px -306px;}
.iconf.money-dollar {background-position: -162px -306px;}
.iconf.money-euro {background-position: -180px -306px;}
.iconf.money-pound {background-position: -198px -306px;}
.iconf.money-yen {background-position: -216px -306px;}
.iconf.monitor {background-position: -234px -306px;}
.iconf.monitor-add {background-position: -252px -306px;}
.iconf.monitor-delete {background-position: -270px -306px;}
.iconf.monitor-edit {background-position: -288px -306px;}
.iconf.monitor-error {background-position: -306px -306px;}
.iconf.monitor-go {background-position: -324px -306px;}
.iconf.monitor-lightning {background-position: -342px -306px;}
.iconf.monitor-link {background-position: -360px -306px;}
.iconf.mouse {background-position: -378px -306px;}
.iconf.mouse-add {background-position: -396px -306px;}
.iconf.mouse-delete {background-position: -414px -306px;}
.iconf.mouse-error {background-position: -432px -306px;}
.iconf.music {background-position: -450px -306px;}
.iconf.new {background-position: -468px -306px;}
.iconf.newspaper {background-position: -486px -306px;}
.iconf.newspaper-add {background-position: -504px -306px;}
.iconf.newspaper-delete {background-position: -522px -306px;}
.iconf.newspaper-go {background-position: -540px -306px;}
.iconf.newspaper-link {background-position: -558px -306px;}
.iconf.note {background-position: -576px -306px;}
.iconf.note-add {background-position: -0px -324px;}
.iconf.note-delete {background-position: -18px -324px;}
.iconf.note-edit {background-position: -36px -324px;}
.iconf.note-error {background-position: -54px -324px;}
.iconf.note-go {background-position: -72px -324px;}
.iconf.overlays {background-position: -90px -324px;}
.iconf.package {background-position: -108px -324px;}
.iconf.package-add {background-position: -126px -324px;}
.iconf.package-delete {background-position: -144px -324px;}
.iconf.package-go {background-position: -162px -324px;}
.iconf.package-green {background-position: -180px -324px;}
.iconf.package-link {background-position: -198px -324px;}
.iconf.page {background-position: -216px -324px;}
.iconf.page-add {background-position: -234px -324px;}
.iconf.page-attach {background-position: -252px -324px;}
.iconf.page-code {background-position: -270px -324px;}
.iconf.page-copy {background-position: -288px -324px;}
.iconf.page-delete {background-position: -306px -324px;}
.iconf.page-edit {background-position: -324px -324px;}
.iconf.page-error {background-position: -342px -324px;}
.iconf.page-excel {background-position: -360px -324px;}
.iconf.page-find {background-position: -378px -324px;}
.iconf.page-gear {background-position: -396px -324px;}
.iconf.page-go {background-position: -414px -324px;}
.iconf.page-green {background-position: -432px -324px;}
.iconf.page-key {background-position: -450px -324px;}
.iconf.page-lightning {background-position: -468px -324px;}
.iconf.page-link {background-position: -486px -324px;}
.iconf.page-paintbrush {background-position: -504px -324px;}
.iconf.page-paste {background-position: -522px -324px;}
.iconf.page-red {background-position: -540px -324px;}
.iconf.page-refresh {background-position: -558px -324px;}
.iconf.page-save {background-position: -576px -324px;}
.iconf.page-white {background-position: -0px -342px;}
.iconf.page-white-acrobat {background-position: -18px -342px;}
.iconf.page-white-actionscript {background-position: -36px -342px;}
.iconf.page-white-add {background-position: -54px -342px;}
.iconf.page-white-c {background-position: -72px -342px;}
.iconf.page-white-camera {background-position: -90px -342px;}
.iconf.page-white-cd {background-position: -108px -342px;}
.iconf.page-white-code {background-position: -126px -342px;}
.iconf.page-white-code-red {background-position: -144px -342px;}
.iconf.page-white-coldfusion {background-position: -162px -342px;}
.iconf.page-white-compressed {background-position: -180px -342px;}
.iconf.page-white-copy {background-position: -198px -342px;}
.iconf.page-white-cplusplus {background-position: -216px -342px;}
.iconf.page-white-csharp {background-position: -234px -342px;}
.iconf.page-white-cup {background-position: -252px -342px;}
.iconf.page-white-database {background-position: -270px -342px;}
.iconf.page-white-delete {background-position: -288px -342px;}
.iconf.page-white-dvd {background-position: -306px -342px;}
.iconf.page-white-edit {background-position: -324px -342px;}
.iconf.page-white-error {background-position: -342px -342px;}
.iconf.page-white-excel {background-position: -360px -342px;}
.iconf.page-white-find {background-position: -378px -342px;}
.iconf.page-white-flash {background-position: -396px -342px;}
.iconf.page-white-freehand {background-position: -414px -342px;}
.iconf.page-white-gear {background-position: -432px -342px;}
.iconf.page-white-get {background-position: -450px -342px;}
.iconf.page-white-go {background-position: -468px -342px;}
.iconf.page-white-h {background-position: -486px -342px;}
.iconf.page-white-horizontal {background-position: -504px -342px;}
.iconf.page-white-key {background-position: -522px -342px;}
.iconf.page-white-lightning {background-position: -540px -342px;}
.iconf.page-white-link {background-position: -558px -342px;}
.iconf.page-white-magnify {background-position: -576px -342px;}
.iconf.page-white-medal {background-position: -0px -360px;}
.iconf.page-white-office {background-position: -18px -360px;}
.iconf.page-white-paint {background-position: -36px -360px;}
.iconf.page-white-paintbrush {background-position: -54px -360px;}
.iconf.page-white-paste {background-position: -72px -360px;}
.iconf.page-white-php {background-position: -90px -360px;}
.iconf.page-white-picture {background-position: -108px -360px;}
.iconf.page-white-powerpoint {background-position: -126px -360px;}
.iconf.page-white-put {background-position: -144px -360px;}
.iconf.page-white-ruby {background-position: -162px -360px;}
.iconf.page-white-stack {background-position: -180px -360px;}
.iconf.page-white-star {background-position: -198px -360px;}
.iconf.page-white-swoosh {background-position: -216px -360px;}
.iconf.page-white-text {background-position: -234px -360px;}
.iconf.page-white-text-width {background-position: -252px -360px;}
.iconf.page-white-tux {background-position: -270px -360px;}
.iconf.page-white-vector {background-position: -288px -360px;}
.iconf.page-white-visualstudio {background-position: -306px -360px;}
.iconf.page-white-width {background-position: -324px -360px;}
.iconf.page-white-word {background-position: -342px -360px;}
.iconf.page-white-world {background-position: -360px -360px;}
.iconf.page-white-wrench {background-position: -378px -360px;}
.iconf.page-white-zip {background-position: -396px -360px;}
.iconf.page-word {background-position: -414px -360px;}
.iconf.page-world {background-position: -432px -360px;}
.iconf.paintbrush {background-position: -450px -360px;}
.iconf.paintcan {background-position: -468px -360px;}
.iconf.palette {background-position: -486px -360px;}
.iconf.paste-plain {background-position: -504px -360px;}
.iconf.paste-word {background-position: -522px -360px;}
.iconf.pencil {background-position: -540px -360px;}
.iconf.pencil-add {background-position: -558px -360px;}
.iconf.pencil-delete {background-position: -576px -360px;}
.iconf.pencil-go {background-position: -0px -378px;}
.iconf.phone {background-position: -18px -378px;}
.iconf.phone-add {background-position: -36px -378px;}
.iconf.phone-delete {background-position: -54px -378px;}
.iconf.phone-sound {background-position: -72px -378px;}
.iconf.photo {background-position: -90px -378px;}
.iconf.photo-add {background-position: -108px -378px;}
.iconf.photo-delete {background-position: -126px -378px;}
.iconf.photo-link {background-position: -144px -378px;}
.iconf.photos {background-position: -162px -378px;}
.iconf.picture {background-position: -180px -378px;}
.iconf.picture-add {background-position: -198px -378px;}
.iconf.picture-delete {background-position: -216px -378px;}
.iconf.picture-edit {background-position: -234px -378px;}
.iconf.picture-empty {background-position: -252px -378px;}
.iconf.picture-error {background-position: -270px -378px;}
.iconf.picture-go {background-position: -288px -378px;}
.iconf.picture-key {background-position: -306px -378px;}
.iconf.picture-link {background-position: -324px -378px;}
.iconf.picture-save {background-position: -342px -378px;}
.iconf.pictures {background-position: -360px -378px;}
.iconf.pilcrow {background-position: -378px -378px;}
.iconf.pill {background-position: -396px -378px;}
.iconf.pill-add {background-position: -414px -378px;}
.iconf.pill-delete {background-position: -432px -378px;}
.iconf.pill-go {background-position: -450px -378px;}
.iconf.plugin {background-position: -468px -378px;}
.iconf.plugin-add {background-position: -486px -378px;}
.iconf.plugin-delete {background-position: -504px -378px;}
.iconf.plugin-disabled {background-position: -522px -378px;}
.iconf.plugin-edit {background-position: -540px -378px;}
.iconf.plugin-error {background-position: -558px -378px;}
.iconf.plugin-go {background-position: -576px -378px;}
.iconf.plugin-link {background-position: -0px -396px;}
.iconf.printer {background-position: -18px -396px;}
.iconf.printer-add {background-position: -36px -396px;}
.iconf.printer-delete {background-position: -54px -396px;}
.iconf.printer-empty {background-position: -72px -396px;}
.iconf.printer-error {background-position: -90px -396px;}
.iconf.rainbow {background-position: -108px -396px;}
.iconf.report {background-position: -126px -396px;}
.iconf.report-add {background-position: -144px -396px;}
.iconf.report-delete {background-position: -162px -396px;}
.iconf.report-disk {background-position: -180px -396px;}
.iconf.report-edit {background-position: -198px -396px;}
.iconf.report-go {background-position: -216px -396px;}
.iconf.report-key {background-position: -234px -396px;}
.iconf.report-link {background-position: -252px -396px;}
.iconf.report-magnify {background-position: -270px -396px;}
.iconf.report-picture {background-position: -288px -396px;}
.iconf.report-user {background-position: -306px -396px;}
.iconf.report-word {background-position: -324px -396px;}
.iconf.resultset-first {background-position: -342px -396px;}
.iconf.resultset-last {background-position: -360px -396px;}
.iconf.resultset-next {background-position: -378px -396px;}
.iconf.resultset-previous {background-position: -396px -396px;}
.iconf.rosette {background-position: -414px -396px;}
.iconf.rss {background-position: -432px -396px;}
.iconf.rss-add {background-position: -450px -396px;}
.iconf.rss-delete {background-position: -468px -396px;}
.iconf.rss-go {background-position: -486px -396px;}
.iconf.rss-valid {background-position: -504px -396px;}
.iconf.ruby {background-position: -522px -396px;}
.iconf.ruby-add {background-position: -540px -396px;}
.iconf.ruby-delete {background-position: -558px -396px;}
.iconf.ruby-gear {background-position: -576px -396px;}
.iconf.ruby-get {background-position: -0px -414px;}
.iconf.ruby-go {background-position: -18px -414px;}
.iconf.ruby-key {background-position: -36px -414px;}
.iconf.ruby-link {background-position: -54px -414px;}
.iconf.ruby-put {background-position: -72px -414px;}
.iconf.script {background-position: -90px -414px;}
.iconf.script-add {background-position: -108px -414px;}
.iconf.script-code {background-position: -126px -414px;}
.iconf.script-code-red {background-position: -144px -414px;}
.iconf.script-delete {background-position: -162px -414px;}
.iconf.script-edit {background-position: -180px -414px;}
.iconf.script-error {background-position: -198px -414px;}
.iconf.script-gear {background-position: -216px -414px;}
.iconf.script-go {background-position: -234px -414px;}
.iconf.script-key {background-position: -252px -414px;}
.iconf.script-lightning {background-position: -270px -414px;}
.iconf.script-link {background-position: -288px -414px;}
.iconf.script-palette {background-position: -306px -414px;}
.iconf.script-save {background-position: -324px -414px;}
.iconf.server {background-position: -342px -414px;}
.iconf.server-add {background-position: -360px -414px;}
.iconf.server-chart {background-position: -378px -414px;}
.iconf.server-compressed {background-position: -396px -414px;}
.iconf.server-connect {background-position: -414px -414px;}
.iconf.server-database {background-position: -432px -414px;}
.iconf.server-delete {background-position: -450px -414px;}
.iconf.server-edit {background-position: -468px -414px;}
.iconf.server-error {background-position: -486px -414px;}
.iconf.server-go {background-position: -504px -414px;}
.iconf.server-key {background-position: -522px -414px;}
.iconf.server-lightning {background-position: -540px -414px;}
.iconf.server-link {background-position: -558px -414px;}
.iconf.server-uncompressed {background-position: -576px -414px;}
.iconf.shading {background-position: -0px -432px;}
.iconf.shape-align-bottom {background-position: -18px -432px;}
.iconf.shape-align-center {background-position: -36px -432px;}
.iconf.shape-align-left {background-position: -54px -432px;}
.iconf.shape-align-middle {background-position: -72px -432px;}
.iconf.shape-align-right {background-position: -90px -432px;}
.iconf.shape-align-top {background-position: -108px -432px;}
.iconf.shape-flip-horizontal {background-position: -126px -432px;}
.iconf.shape-flip-vertical {background-position: -144px -432px;}
.iconf.shape-group {background-position: -162px -432px;}
.iconf.shape-handles {background-position: -180px -432px;}
.iconf.shape-move-back {background-position: -198px -432px;}
.iconf.shape-move-backwards {background-position: -216px -432px;}
.iconf.shape-move-forwards {background-position: -234px -432px;}
.iconf.shape-move-front {background-position: -252px -432px;}
.iconf.shape-rotate-anticlockwise {background-position: -270px -432px;}
.iconf.shape-rotate-clockwise {background-position: -288px -432px;}
.iconf.shape-square {background-position: -306px -432px;}
.iconf.shape-square-add {background-position: -324px -432px;}
.iconf.shape-square-delete {background-position: -342px -432px;}
.iconf.shape-square-edit {background-position: -360px -432px;}
.iconf.shape-square-error {background-position: -378px -432px;}
.iconf.shape-square-go {background-position: -396px -432px;}
.iconf.shape-square-key {background-position: -414px -432px;}
.iconf.shape-square-link {background-position: -432px -432px;}
.iconf.shape-ungroup {background-position: -450px -432px;}
.iconf.shield {background-position: -468px -432px;}
.iconf.shield-add {background-position: -486px -432px;}
.iconf.shield-delete {background-position: -504px -432px;}
.iconf.shield-go {background-position: -522px -432px;}
.iconf.sitemap {background-position: -540px -432px;}
.iconf.sitemap-color {background-position: -558px -432px;}
.iconf.sound {background-position: -576px -432px;}
.iconf.sound-add {background-position: -0px -450px;}
.iconf.sound-delete {background-position: -18px -450px;}
.iconf.sound-low {background-position: -36px -450px;}
.iconf.sound-mute {background-position: -54px -450px;}
.iconf.sound-none {background-position: -72px -450px;}
.iconf.spellcheck {background-position: -90px -450px;}
.iconf.sport-8ball {background-position: -108px -450px;}
.iconf.sport-basketball {background-position: -126px -450px;}
.iconf.sport-football {background-position: -144px -450px;}
.iconf.sport-golf {background-position: -162px -450px;}
.iconf.sport-raquet {background-position: -180px -450px;}
.iconf.sport-shuttlecock {background-position: -198px -450px;}
.iconf.sport-soccer {background-position: -216px -450px;}
.iconf.sport-tennis {background-position: -234px -450px;}
.iconf.star {background-position: -252px -450px;}
.iconf.status-away {background-position: -270px -450px;}
.iconf.status-busy {background-position: -288px -450px;}
.iconf.status-offline {background-position: -306px -450px;}
.iconf.status-online {background-position: -324px -450px;}
.iconf.stop {background-position: -342px -450px;}
.iconf.style {background-position: -360px -450px;}
.iconf.style-add {background-position: -378px -450px;}
.iconf.style-delete {background-position: -396px -450px;}
.iconf.style-edit {background-position: -414px -450px;}
.iconf.style-go {background-position: -432px -450px;}
.iconf.sum {background-position: -450px -450px;}
.iconf.tab {background-position: -468px -450px;}
.iconf.tab-add {background-position: -486px -450px;}
.iconf.tab-delete {background-position: -504px -450px;}
.iconf.tab-edit {background-position: -522px -450px;}
.iconf.tab-go {background-position: -540px -450px;}
.iconf.table {background-position: -558px -450px;}
.iconf.table-add {background-position: -576px -450px;}
.iconf.table-delete {background-position: -0px -468px;}
.iconf.table-edit {background-position: -18px -468px;}
.iconf.table-error {background-position: -36px -468px;}
.iconf.table-gear {background-position: -54px -468px;}
.iconf.table-go {background-position: -72px -468px;}
.iconf.table-key {background-position: -90px -468px;}
.iconf.table-lightning {background-position: -108px -468px;}
.iconf.table-link {background-position: -126px -468px;}
.iconf.table-multiple {background-position: -144px -468px;}
.iconf.table-refresh {background-position: -162px -468px;}
.iconf.table-relationship {background-position: -180px -468px;}
.iconf.table-row-delete {background-position: -198px -468px;}
.iconf.table-row-insert {background-position: -216px -468px;}
.iconf.table-save {background-position: -234px -468px;}
.iconf.table-sort {background-position: -252px -468px;}
.iconf.tag {background-position: -270px -468px;}
.iconf.tag-blue {background-position: -288px -468px;}
.iconf.tag-blue-add {background-position: -306px -468px;}
.iconf.tag-blue-delete {background-position: -324px -468px;}
.iconf.tag-blue-edit {background-position: -342px -468px;}
.iconf.tag-green {background-position: -360px -468px;}
.iconf.tag-orange {background-position: -378px -468px;}
.iconf.tag-pink {background-position: -396px -468px;}
.iconf.tag-purple {background-position: -414px -468px;}
.iconf.tag-red {background-position: -432px -468px;}
.iconf.tag-yellow {background-position: -450px -468px;}
.iconf.telephone {background-position: -468px -468px;}
.iconf.telephone-add {background-position: -486px -468px;}
.iconf.telephone-delete {background-position: -504px -468px;}
.iconf.telephone-edit {background-position: -522px -468px;}
.iconf.telephone-error {background-position: -540px -468px;}
.iconf.telephone-go {background-position: -558px -468px;}
.iconf.telephone-key {background-position: -576px -468px;}
.iconf.telephone-link {background-position: -0px -486px;}
.iconf.television {background-position: -18px -486px;}
.iconf.television-add {background-position: -36px -486px;}
.iconf.television-delete {background-position: -54px -486px;}
.iconf.text-align-center {background-position: -72px -486px;}
.iconf.text-align-justify {background-position: -90px -486px;}
.iconf.text-align-left {background-position: -108px -486px;}
.iconf.text-align-right {background-position: -126px -486px;}
.iconf.text-allcaps {background-position: -144px -486px;}
.iconf.text-bold {background-position: -162px -486px;}
.iconf.text-columns {background-position: -180px -486px;}
.iconf.text-dropcaps {background-position: -198px -486px;}
.iconf.text-heading-1 {background-position: -216px -486px;}
.iconf.text-heading-2 {background-position: -234px -486px;}
.iconf.text-heading-3 {background-position: -252px -486px;}
.iconf.text-heading-4 {background-position: -270px -486px;}
.iconf.text-heading-5 {background-position: -288px -486px;}
.iconf.text-heading-6 {background-position: -306px -486px;}
.iconf.text-horizontalrule {background-position: -324px -486px;}
.iconf.text-indent {background-position: -342px -486px;}
.iconf.text-indent-remove {background-position: -360px -486px;}
.iconf.text-italic {background-position: -378px -486px;}
.iconf.text-kerning {background-position: -396px -486px;}
.iconf.text-letter-omega {background-position: -414px -486px;}
.iconf.text-letterspacing {background-position: -432px -486px;}
.iconf.text-linespacing {background-position: -450px -486px;}
.iconf.text-list-bullets {background-position: -468px -486px;}
.iconf.text-list-numbers {background-position: -486px -486px;}
.iconf.text-lowercase {background-position: -504px -486px;}
.iconf.text-padding-bottom {background-position: -522px -486px;}
.iconf.text-padding-left {background-position: -540px -486px;}
.iconf.text-padding-right {background-position: -558px -486px;}
.iconf.text-padding-top {background-position: -576px -486px;}
.iconf.text-replace {background-position: -0px -504px;}
.iconf.text-signature {background-position: -18px -504px;}
.iconf.text-smallcaps {background-position: -36px -504px;}
.iconf.text-strikethrough {background-position: -54px -504px;}
.iconf.text-subscript {background-position: -72px -504px;}
.iconf.text-superscript {background-position: -90px -504px;}
.iconf.text-underline {background-position: -108px -504px;}
.iconf.text-uppercase {background-position: -126px -504px;}
.iconf.textfield {background-position: -144px -504px;}
.iconf.textfield-add {background-position: -162px -504px;}
.iconf.textfield-delete {background-position: -180px -504px;}
.iconf.textfield-key {background-position: -198px -504px;}
.iconf.textfield-rename {background-position: -216px -504px;}
.iconf.thumb-down {background-position: -234px -504px;}
.iconf.thumb-up {background-position: -252px -504px;}
.iconf.tick {background-position: -270px -504px;}
.iconf.time {background-position: -288px -504px;}
.iconf.time-add {background-position: -306px -504px;}
.iconf.time-delete {background-position: -324px -504px;}
.iconf.time-go {background-position: -342px -504px;}
.iconf.timeline-marker {background-position: -360px -504px;}
.iconf.transmit {background-position: -378px -504px;}
.iconf.transmit-add {background-position: -396px -504px;}
.iconf.transmit-blue {background-position: -414px -504px;}
.iconf.transmit-delete {background-position: -432px -504px;}
.iconf.transmit-edit {background-position: -450px -504px;}
.iconf.transmit-error {background-position: -468px -504px;}
.iconf.transmit-go {background-position: -486px -504px;}
.iconf.tux {background-position: -504px -504px;}
.iconf.user {background-position: -522px -504px;}
.iconf.user-add {background-position: -540px -504px;}
.iconf.user-comment {background-position: -558px -504px;}
.iconf.user-delete {background-position: -576px -504px;}
.iconf.user-edit {background-position: -0px -522px;}
.iconf.user-female {background-position: -18px -522px;}
.iconf.user-go {background-position: -36px -522px;}
.iconf.user-gray {background-position: -54px -522px;}
.iconf.user-green {background-position: -72px -522px;}
.iconf.user-orange {background-position: -90px -522px;}
.iconf.user-red {background-position: -108px -522px;}
.iconf.user-suit {background-position: -126px -522px;}
.iconf.vcard {background-position: -144px -522px;}
.iconf.vcard-add {background-position: -162px -522px;}
.iconf.vcard-delete {background-position: -180px -522px;}
.iconf.vcard-edit {background-position: -198px -522px;}
.iconf.vector {background-position: -216px -522px;}
.iconf.vector-add {background-position: -234px -522px;}
.iconf.vector-delete {background-position: -252px -522px;}
.iconf.wand {background-position: -270px -522px;}
.iconf.weather-clouds {background-position: -288px -522px;}
.iconf.weather-cloudy {background-position: -306px -522px;}
.iconf.weather-lightning {background-position: -324px -522px;}
.iconf.weather-rain {background-position: -342px -522px;}
.iconf.weather-snow {background-position: -360px -522px;}
.iconf.weather-sun {background-position: -378px -522px;}
.iconf.webcam {background-position: -396px -522px;}
.iconf.webcam-add {background-position: -414px -522px;}
.iconf.webcam-delete {background-position: -432px -522px;}
.iconf.webcam-error {background-position: -450px -522px;}
.iconf.world {background-position: -468px -522px;}
.iconf.world-add {background-position: -486px -522px;}
.iconf.world-delete {background-position: -504px -522px;}
.iconf.world-edit {background-position: -522px -522px;}
.iconf.world-go {background-position: -540px -522px;}
.iconf.world-link {background-position: -558px -522px;}
.iconf.wrench {background-position: -576px -522px;}
.iconf.wrench-orange {background-position: -0px -540px;}
.iconf.xhtml {background-position: -18px -540px;}
.iconf.xhtml-add {background-position: -36px -540px;}
.iconf.xhtml-delete {background-position: -54px -540px;}
.iconf.xhtml-go {background-position: -72px -540px;}
.iconf.xhtml-valid {background-position: -90px -540px;}
.iconf.zoom {background-position: -108px -540px;}
.iconf.zoom-in {background-position: -126px -540px;}
.iconf.zoom-out {background-position: -144px -540px;}