.toolbaricon {
    height: 1.2em;
    width:1.2em;
}

#toolbars a svg {
    margin-bottom: -.2em;
}

.media a svg, .cartouche svg {
    margin-bottom: -.1em;
}

.responsive-large-desktop i.document-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px 0px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-large-desktop i.dataset-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px -245px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-large-desktop i.coding_sheet-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px -491px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-large-desktop i.ontology-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px -736px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-large-desktop i.geospatial-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px -982px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-large-desktop i.sensory_data-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px -1227px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-large-desktop i.image-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px -1964px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-large-desktop i.video-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px -1473px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-large-desktop i.collection-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px -1719px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-large-desktop i.project-bg-large {
    background: url(../images/r4/resource-types-large.gif) 0px -2200px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
    display: inline-block;
}

.responsive-desktop i.document-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px 0px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-desktop i.dataset-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px -245px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-desktop i.coding_sheet-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px -491px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-desktop i.ontology-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px -736px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-desktop i.geospatial-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px -982px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-desktop i.sensory_data-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px -1227px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-desktop i.image-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px -1964px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-desktop i.video-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px -1473px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-desktop i.collection-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px -1719px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-desktop i.project-bg-large {
    background: url(../images/r4/resource-types-large.gif) -299px -2210px;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: inline-block;
}

.responsive-tablet i.document-bg-large, i.document-125 {
    background: url(../images/r4/resource-types-large.gif) -548px 0px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.dataset-bg-large, i.dataset-125 {
    background: url(../images/r4/resource-types-large.gif) -548px -245px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.coding_sheet-bg-large, i.coding_sheet-125 {
    background: url(../images/r4/resource-types-large.gif) -548px -491px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.ontology-bg-large, i.ontology-125 {
    background: url(../images/r4/resource-types-large.gif) -548px -736px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.geospatial-bg-large, i.geospatial-125 {
    background: url(../images/r4/resource-types-large.gif) -548px -982px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.sensory_data-bg-large, i.sensory_data-125 {
    background: url(../images/r4/resource-types-large.gif) -548px -1227px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.image-bg-large, i.image-125 {
    background: url(../images/r4/resource-types-large.gif) -548px -1964px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.video-bg-large, i.video-125 {
    background: url(../images/r4/resource-types-large.gif) -548px -1473px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.audio-bg-large, i.audio-125 {
    /* Temporary placeholder image until we get a better quality one... */
    background: url(../images/sound-125.gif);
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.collection-bg-large, i.collection-125 {
    background: url(../images/r4/resource-types-large.gif) -548px -1719px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}

.responsive-tablet i.project-bg-large, i.project-125 {
    background: url(../images/r4/resource-types-large.gif) -548px -2210px;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    display: inline-block;
}



.search-map-icon-red {
    background: url(../images/r4/resource-types-large.gif) -75px -2531px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.search-grid-icon-red {
    background: url(../images/r4/resource-types-large.gif) -91px -2531px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.search-download-icon-red {
    background: url(../images/r4/resource-types-large.gif) -58px -2531px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.search-magnify-icon-red {
    background: url(../images/r4/resource-types-large.gif) -40px -2531px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.search-list-icon-red {
    background: url(../images/r4/resource-types-large.gif) -124px -2531px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.search-list-checkbox-grey {
    background: url(../images/r4/resource-types-large.gif) -30px -2564px;
    background-repeat: no-repeat;
    width: 14px;
    height: 13.5px;
    display: inline-block;
}

.search-list-checkedbox-grey {
    background: url(../images/r4/resource-types-large.gif) -30px -2578px;
    background-repeat: no-repeat;
    width: 14px;
    margin-bottom: -2px;
    height: 14px;
    display: inline-block;
}

h3.document-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -471px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.dataset-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -508px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.coding_sheet-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -547px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.ontology-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -585px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.image-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -703px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.audio-mid-red:before {
    /* Temporary placeholder image until we get a better quality one... */
    background: url(../images/sound.gif);
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.video-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -745px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.sensory_data-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -665px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.geospatial-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -623px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.project-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -825px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.collection-mid-red:before {
    background: url(../images/r4/tdar-sprites.gif) -781px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.document-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -39px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.dataset-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -76px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.coding_sheet-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -115px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.ontology-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -152px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.image-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -271px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.video-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -313px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.sensory_data-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -233px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.geospatial-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -191px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.project-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -391px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 34px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}

h3.collection-mid-black:before {
    background: url(../images/r4/tdar-sprites.gif) -349px -487px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 37px;
    content: "";
    margin-bottom: -2px;
}


.icon-document {
    background: url(../images/r4/resource-types-large.gif) -296px -2477px;
    background-repeat: no-repeat;
    width: 14px;
    height: 15px;
    display: inline-block;
}

.icon-dataset {
    background: url(../images/r4/resource-types-large.gif) -344px -2477px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-image {
    background: url(../images/r4/resource-types-large.gif) -326px -2477px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-codingsheet {
    background: url(../images/r4/resource-types-large.gif) -361px -2475px;
    background-repeat: no-repeat;
    width: 14px;
    margin-top: -1px;
    height: 14px;
    display: inline-block;
}

.icon-geospatial {
    background: url(../images/r4/resource-types-large.gif) -431px -2477px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-sensorydata {
    background: url(../images/r4/resource-types-large.gif) -462px -2473px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    margin-top: -2px;
    display: inline-block;
}

.icon-ontology {
    background: url(../images/r4/resource-types-large.gif) -378px -2477px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-video {
    background: url(../images/r4/resource-types-large.gif) -415px -2472px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}
.icon-project {
    background: url(../images/r4/resource-types-large.gif) -398px -2474px;
    background-repeat: no-repeat;
    width: 14px;
    height: 16px;
    margin-top: -1px;
    display: inline-block;
}

.icon-collection {
    background: url(../images/r4/resource-types-large.gif) -447px -2477px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}



.icon-document.icon-red {
    background: url(../images/r4/resource-types-large.gif) -296px -2455px;
    background-repeat: no-repeat;
    width: 14px;
    height: 15px;
    display: inline-block;
}

.icon-dataset.icon-red {
    background: url(../images/r4/resource-types-large.gif) -344px -2455px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-image.icon-red {
    background: url(../images/r4/resource-types-large.gif) -326px -2455px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-codingsheet.icon-red {
    background: url(../images/r4/resource-types-large.gif) -361px -2455px;
    background-repeat: no-repeat;
    width: 14px;
    margin-top: -1px;
    height: 14px;
    display: inline-block;
}

.icon-geospatial.icon-red {
    background: url(../images/r4/resource-types-large.gif) -431px -2455px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-sensorydata.icon-red {
    background: url(../images/r4/resource-types-large.gif) -462px -2455px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    margin-top: -2px;
    display: inline-block;
}

.icon-ontology.icon-red {
    background: url(../images/r4/resource-types-large.gif) -378px -2455px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-video.icon-red {
    background: url(../images/r4/resource-types-large.gif) -415px -2455px;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.icon-collection.icon-red {
    background: url(../images/r4/resource-types-large.gif) no-repeat -447px -2455px;
    width: 14px;
    height: 16px;
}

.icon-project.icon-red {
    background: url(../images/r4/resource-types-large.gif) no-repeat -397px -2454px;
    width: 14px;
    height: 16px;
}
