.tdarCommentDescription {
    /* do not remove */
    display: none !important;
    visibility: hidden !important;
}

/* FIXME: jtd: I don't think the section.row.cols rule is necessary; need to check all pages to confirm I'm right,*/
/* ab: undoing as this breaks the top of the view page! and the edit page! */
section.row.cols {
    margin-top: 3em !important;
}



div.barlabel {
    top: 0;
    z-index: 1000;
    overflow: visible;
    left: 0px;
    position: relative;
    display: block;
    text-align: center;
    font-size: smaller;
    line-height: 1.2em;
    vertical-align: top !important;
    height: 1.5em;
}

.subnavbar {
    z-index: 10000;
}

.lt-ie9 #messages{
    display: block !important;
    visibility: visible !important;
}

/* affix elements become fixed, so we need to specify new location (otherwise location after becoming fixed is undefined/browser-specific) */
.subnavbar.affix {
    top: 0;
    left: 0;
}

#subnavbar2.affix {
    width: 100% !important;
    left: 0 !important;
}

/* TODO:// HACK: .affix navbar needs to be same width as ".container" for proper formatting, but to break out our navbar requires mucking w/ layout.dec */
.subnavbar.affix-top.container {
    /*shrink the navbar when it is not affixed (i.e. when it is .affix-top) */
    width: auto
}

/* fix for file upload control to make it not make space for label */
/*.template-download .controls {*/
/*margin-left: 0px !important;*/
/*}*/

.uneditable-input.subtle {
    background-color: inherit;
    color: inherit;
    border: 1px solid rgba(128, 128, 128, 0.1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 58%; /*workaround for bs2.3.2 css bug preventing xlarge sizing for .uneditable-input spans */
}

/* make the file transfer data appear more muted/compact */
.progress-extended {
    font-size: 8pt;
    line-height: 8pt;
    position: relative;
    bottom: 15px;
    color: #555;
}

/* undo bootstrap's styling for certain elements when inside of a 'treeview' widget. */
.treeview input[type=checkbox] {
    margin: 0 0 0;
}

.treeview label {
    display: inline;
}


.fixed p.cartouche {
    font-size: 16px;
    line-height: 12px;
}

#recentlyEditedResources .recent-nav {
    float: right;
}

.creatorPerson .controls.controls-row, .creatorInstitution .controls.controls-row {
    margin-left: 0px;
}

.controls-row .controls {
    margin-left: 10px !important;
}

.searchfor .controls {
    margin-left: 0px !important;
}

.term .control-group {
    margin-bottom: 0px;
}


.evenC {background-color:#DDD !important}
.descriptionRow {border-bottom:1px solid #eee}


.tableContainer {
    background-color: #bebebe;
}

.bullet + .bullet:before {
    content: "\002022  "
}

/* give inline bulleted lists equidistant spacing */
ul.inline > li.bullet a {
    padding-left: 1em
}

#project-list .dataTables_wrapper {
    /*    width: 700px */

}

#home .form-actions {
    border: none;
    background-color: transparent
}

.tableFormat a.title {
    font-weight: 600;
    font-size: 16px;
}

.down-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555;
    display: inline;
    cursor: pointer;
    cursor: hand;
    position: relative;
    left: 700px;
    top: -32px;
}

.popover h2 {
    font-size: 13pt;
    font-weight: 500;
    line-height: 1pt !important;
    padding-top: 15px !important;
    /* padding: 0px !important; */
}

.popover {
    width: 500px;
}

h3.popover-title {
    margin-top: 0px;
}

.GRID .resourceLink {
    font-size: 14px;
}

.control-label {
    font-weight: bold;
}

ol.MAP {
    margin-left: 1.2em !important;
}

ol.MAP .listItemPart {
    visibility: hidden;
    display: none;
}

.MAP h3 {
    font-size: 14px !important;
}

.resource-nav.navbar-static li a {
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-image: none !important;
}

.navbar-static.affix {
    width: 100% !important;
    left: 0px !important;
}

.subnavbar.resource-nav {
    margin: -3px 5px 25px 5px !important;
}

#fakeSubmitButton {
    margin-top: 5px;
}

.tdar-slider .carousel-inner .item {
    height: 310px !important;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

.no-indent {
    margin-left: 0px !important;
}

/* this should not be necessary */
label.help-inline[generated="true"] {
    display: none;
    visibility: hidden;
}

/*FIXME: we are doing this hack because the contents of the left-pane can't fit in a .span9  (view page and edit page)  */
/* see TDAR-2634, remove this css rule when ticket closed */
article + aside.span3 > div {
    margin-left: 40px !important;
    /*    float: right; */
}

/* Normally I like the default bootstrap styles... but hot pink for CODE tags?  Really? */
code {
    color: navy;
}

.horizontal-rule {
    border-bottom: solid black 1px;
}

aside.tdar-icon:before {
    margin: 0 5px 0 0;
}


.whitelabel-logo {
    width: 15em;
    max-height: 30em; /* don't mess w/ aspect ratio unless image is too tall */
    margin-top: 1em;
    margin-bottom: 1em;
}

h3>a {
    color:inherit;
}

.small {
    font-size: 70%;
}

.xsmall {
    font-size: 50%;
}

.rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2 )";
    transform: rotate(270deg);
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=4 )";
    transform: rotate(90deg);
}

.adminbox {
    left: -25px;
    background: lightBlue;
    margin: 0px;
    padding: 2px 15px 2px 15px;
    font-weight: 700;
    top: 45%;
}

.admin-well {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.admin-well:after {
    content: "Administrators Only";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.resizable.resize-vertical {
    resize: vertical;
}

.sort + .dbl {
    margin-top: 2px !important;
}


.silhouette {
    width: 40px;
    padding-right: 6px;
}

p.copyright-notice {
    margin-top: 1em;
}

.barGraph {
    position: relative;
}

.nowrap {
    white-space: nowrap;
}

.popover h3, .popover h2 {
    margin-top: 0px !important;
    paddding: 10px 0px 10px 0px !important;
}

/* ensure proper spacing in view page metadata name/value pairs, and don't wrap in the middle */
.cols p.meta span.name-value {
    margin-right: 0.5em;
    diaplay: inline-block;
}


/* bootstrap removes the input margin-bottom for horizontal forms (because control-group has a margn).  This messes up our datatable widget, so we put the margin
    back in */
.tdar-widget input, .tdar-widget select, .tdar-widget textarea {
    margin-bottom: 10px;
}

.tdar-widget label {
    font-weight: bold;
}

/* ie8 hacks:begin */
/* we disable responsive-layout in ie8, but we want to retain the following rules */
.lt-ie9 .hidden {
    display: none;
    visibility: hidden;
}

.lt-ie9 .visible-phone, .lt-ie9 .visible-table, .lt-ie9 .hidden-desktop {
    display: none !important;
}

.lt-ie9 .visible-desktop {
    display: inherit !important;
}

/*FIXME: temp hack for TDAR-2634, remove when resolved */
.lt-ie9 .span9 .form-horizontal fieldset {
    width: 750px; /* normally 700px */
}

/*FIXME: temp hack for TDAR-2634, remove when resolved */
.lt-ie9 .span9 .form-horizontal fieldset .input-xxlarge {
    width: 500px; /* normally 530px */
}

/* .fade, fade.in transitions not supported in ie8 */
.lt-ie9 .fade {
    visibility: hidden;
}

.lt-ie9 .fade.in {
    visibility: inherit !important;
}

/* ie8 hacks: end */
.view-deleted-file {
    background-color: #edd87b;
    text-decoration: line-through;
    display: none;
}

.view-hidden-extra-files {
    display: none;
}

/* contextual help styling - based off of 'downloads' box on view page */
#notice {
    font-family: 'ff-tisa-web-pro', serif;
    background-color: #f0eeeb;
}

#notice h2 {
    font-size: 15px;
}

#notice > h2 {
    background-color: #dedede;
    padding: 10px;
    line-height: inherit;
    border-bottom: 1px solid #eee;
}

#noticecontent {
    color: #7d7a77;
    padding: 0 10px 5px 10px;
}

/* undoing .cols p */
#noticecontent p {
    font-size: inherit;
    font-weight: normal;
}

.link {
    color: #4265a7;
    font-weight: bold;
}

.link:hover {
    cursor: pointer;
    color: #993333;
}

.atlwdg-trigger.atlwdg-TOP {
    z-index: 99999999 !important;
}

.pull-quote {
    font-size: 20px;
    line-height: 40px;
    color: #999;
}

/*use in column-sized div to scale image if width exceeds parent width */
img.responsive-image {
    max-width: 100%;
    height: auto;
}

#downloadsMoreArea {
    background-color: #ddd;
    padding-left: 35px;
}

.hidden-phone-portrait {
    display: inherit;
    visibility: inherit;
}

.responsive-phone-portrait .hidden-phone-portrait {
    display: none !important;
    visibility: hidden !important;
}

.highlightrow-yellow td {
    background: lightgoldenrodyellow !important;
}

.highlightrow-green td {
    background: honeydew !important;
}

.highlightrow-blue td {
    background: lightblue !important;
}

/* use this class if your textbox has combobox buttons that should add up to xx-large width*/
.input-xxlarge-combo {
    width: 412px;
}

.highlighted {
    animation: pulse 0.5s ease-out;
    -webkit-animation: pulse 0.4s linear;
    font-weight: bold;
}

@-webkit-keyframes pulse {
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes pulse {
    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

.inlineblock {
    display: inline-block;
}

.ui-widget .ui-menu, .ui-widget, .ui-widget .ui-menu-item {
    font-size: 10pt;
    font-family: helvetica, arial, sans-serif;
    padding: 2px 0;

}

.ui-menu-item:not(:first-child) {
    border-top: solid 1px #eee;
}

.ui-menu-item.addnew {
    border-top: solid 2px #ddd;
}

/* Error banners are a more attention-grabbing form of user notifications. */
.error-banner {
    background: url(../images/caution.gif) 0.2em 0.2em;
    background-repeat: no-repeat;
    background-size: 1.5em;
    margin-top: 3em;
    padding: 0.2em 0.2em 0.2em 2em;
    border: 2px solid #444;
    color: black;
}

.error-banner {
}

.error-banner h1, .error-banner h2, .error-banner h3, .error-banner h4 {
    color: #7a1501 /* "tDAR red" */
}

.bg-red {
    background-color: #7a1501;
}

/* Put error codes in a block-level container w/ class of  .pull-right.error-codes to inset them in the
upper-right corner. Individual codes should be wrapped in span.error-code elements */
.error-banner > .pull-right.error-codes {
    position: relative;
    margin-left: -15px;
    margin-top: 5px;
    font-size: 8pt;
    border-radius: 2px;
    padding: 1px 3px 1px 3px;
    border: 1px solid #dcc;
    color: #555;
}

.error-banner .error-code {
    font-family: monospace;
    padding-right: 1em;
}

.error-code:last-child {
    padding-right: inherit;
}

/* Overide bootstrap default error alert color. Note: avoid modifying anything other than fonts and colors, as the styles here
are governed by several media queries and thus easy to screw up the formatting of various responsive profiles. */
.alert.alert-error {
    background-color: #fffecc;
}

.alert.alert-error p, .alert.alert-error ul, .alert.alert-error li {
    color: #000;
}

.filter-ontology input + label {
    position: relative;
}

.filter-ontology input[disabled] + label {
    font-weight: normal !important;
}

.filter-ontology .inline-label {
    clear: none;
    display: inline-block;
}

.filter-ontology .wf-loading {
    visibility: visible !important;
}



div.orgChart div.node.level1.special {
    background-color: white;
}


.ontology-mapping .ui-autocomplete {
    max-height: 144pt;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1em;
}

.ontology-mapping .ui-menu-item {
    font-family: courier !important;
    white-space: pre !important;
}

.ontology-mapping .ui-widget {
    font-family: courier;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ontology-mapping .ui-autocomplete {
    height: 144pt;
    overflow-x: hidden;
}

.ontology-mapping .ui-menu .ui-menu-item {
    border: 0px;
    margin: 0px !important;
    padding: 0px !important;
}

.ontology-mapping .ui-menu-item a {
    border: 1px solid transparent;
    min-height: 1em;
    margin: 0px !important;
    padding: 0px !important;
}


/* styles for purchasing pages  */
.authpane, .cartpane {
    background-color: #f3f0ee;
    padding: 0.5em;
    border-radius: 0.5em
}

.authfields {
    min-height: 350px;
}
.authpane .form-actions, .cartpane .form-actions {
    background-color: #f3f0ee;

}

/* we want the form fields in an authpane to be more vertically compact */

.form-condensed .control-group{
    margin-top: 0;
    margin-bottom: 5px;
}

.form-condensed label, .form-condensed  {
    margin-bottom:0;
}

.form-condensed fieldset legend {
    margin-bottom: 10px;
    font-size: 14pt;
    line-height: normal;
}

.form-condensed fieldset {
    margin-bottom: 1em;
}

.cartpane .form-actions, .authpane .form-actions {
    border: none;
}


.hero-unit.hero-condensed {
    padding:30px 40px 20px 40px;
    margin-top:10px;
    margin-bottom:10px
}
.hero-unit.hero-condensed h1 {
    /* fixme: this style mut be !important because of the article.h1 !important override. ideally both overrides should be removed. */
    margin:0 !important; padding:0!important;
}
.hero-unit.hero-condesed h2 {
}
.form-condensed input, .form-condensed select {
    padding: 3px;
}

.form-condensed select {
}

.tdar-button {
    line-height: normal;
}

.well.form-condensed {
    padding:10px;
}

div.grippie {
    background: #eee url(../images/grippie.png) no-repeat scroll center 2px;
    border-color: #ddd;
    border-style: solid;
    border-width: 0pt 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden
}

/** hide angular templates until angular finishes initial render **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* Styling to distinguish the text of an 'empty' option in a select list */
/* fixme: most browsers ignore option style. See if there's an alternate approach */
option.emptyoption {
    font-style: italic;
}


/* custom facet presentation for collection view page */
.collection-facets i.search-list-checkbox-grey {
     background-image: none !important;
 }

.collection-facets li.media {
    display: inline-block
}


img.collection-logo {
    margin: 0.5em;
    padding: 0
}
/** collection logo presentation: flush with header **/
/* 
h1 > img.collection-logo {
    max-width: 7em;
    max-height: 4em ;
}

* collection logo presentation: flush with description *
article > img.collection-logo {
    max-width: 13em;
    max-height: 8em ;
}
 */
.divInheritSection button.clear-section {
    display:none;
}
.divInheritSection:hover button.clear-section {
    display:inline-block;
    line-height:15px;
}


/* display "double-click to choose file" for ie10 users instead of "click to choose file"   */
html        .btn-lbl-doubleclick  {display:none;}
html.ie10   .btn-lbl-doubleclick  {display:inline-block; font-size: 9pt;}
html.ie10   .btn-lbl-singleclick  {display:none;}
html.ie10   .fileinput-button     {width:150pt}


form.form-unstyled {
    margin: auto;
    display:inline;
}


form.logoutForm {
    margin-left:13px;
}

kbd {
    border: 1px solid #ccc;
    padding: 1px 6px 2px 6px;
    border-radius: 5px;
    vertical-align: middle;
}


/**
JIM'S LIBRARY HACKS GO HERE
**/


.organize-bookmarks-container ol li h3 a{
    font-size: 10pt !important;
    line-height: normal;
}

.organize-bookmarks-container {

}


.organize-bookmarks-container ol {
    margin: 0;
}
.organize-bookmarks-container ol li {
    list-style-type: none;
}

tr .moremenu {
    visibility: hidden;
}
tr:hover .moremenu {
    visibility: visible;
}

.modal-tall {
	min-height:300px;
}

/**
* Makes a text area be as wide as an input without making it wider than it.
**/
.wide-textarea {
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%;
}


/* 
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

 */


.email-container {
  position: relative;
  height: 0;
  overflow: hidden;
    padding-bottom: 75%;
}

 
.email-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**Internet explorer adds a "X" to clear inputs. this hides it.*/
input[type=text]::-ms-clear { display: none; }
