/** stop safari from autofilling **/
input[autocomplete="off"]::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  height: 0;
  width: 0;
  margin: 0;
}


.iwell {
    border: 1px solid #CCC;
    background: #EFEFEF;
    border-radius: 6px;
}

.iwell div {
    margin:1em;
}

.iwell p {
    margin-top:10px;
}
/*
    History: this file represents the original source code as provided by Fervor
*/


body.responsive-desktop br.responsive-large-desktop {
    display:none;
}

body.responsive-tablet br.responsive-desktop {
    display:none;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    filter: alpha(opacity=0);
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    right: 0;
/*     top: 0; */
    transform: translate(-300px, 0) scale(4);
}



.red {
    color: #7a1501;
}

.alwaysHidden {
    display: none !important;
    visibility: hidden !important;
}

.span45 {
    width: 420px;
}

.responsive-desktop .span45 {
    width: 340px !important;
}

.responsive-tablet .span45 {
    width: 250px !important;
}

body {
    color: #1b1a18;
    font-family: helvetica, arial, sans-serif;
}

#alt.not-production {
    /*background-color: #efe;*/
}

hr {
    border: 0;
    border-top: .5px solid #BBB;
/*     height: 1px; */
    margin: 30px 0 30px 0;
}

hr.dbl {
    border-bottom: 1px solid #222 !important;
    height: 2px;
}

/**
.span9 hr {
	margin-left: 0 !important;
}
**/

#alt h3 {
    font-family: helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

a {
    color: #7a1501;
}

a:hover {
    color: #1b1a18;
}

/*override native button style for our fancy tdar-buttons */
button.tdar-button, input.tdar-button[type=button] {
    border: none;
}

/*
    FIXME: make "tdar" flavored buttons consistent.  Migrate "a.button" references to "a.tdar-button", then remove a.button css.

In the meantime....
    If it's a: link,                        use: .button class
    If it's a: button, input[type=submit]   use: .tdar-button class
*/
a.button, .tdar-button, input.tdar-button[type=submit] {
    font-family: helvetica, arial, sans-serif;
    /*	width: 130px; */
    height: 35px;
    display: inline-block;
    background: #7a1501;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/images/hIEfix.png, sizingMethod=crop )";
    zoom: 1;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border: none;
    padding-top:0;
    padding-bottom:0;
}
.subnav ul.subnav-rht form.form-unstyled input.tdar-button {
    margin-right: 4px;
    width: 121px; /* 115px + 16px */
}

/* Muted background color - when you want to de-emphasize a button in favor of another */
a.button.muted, .tdar-button.muted, input.tdar-button.muted[type=submit] {
    background-color: #686868;
    color: #ffffff;
}

/* Button text is vertically-centered by default. For anchors that look like buttons, we fake vertical center by setting line-height same as button height */
a.button{
    line-height: 35px;
    margin: 0 4px 0 0;
}

a.button:hover, .tdar-button:hover, input.tdar-button[type=submit]:hover {
    background: #c74534;
    text-decoration: none;
}

#home {
    background: url(../images/r4/bg-home.jpg) center 115px;
    background-repeat: no-repeat;
}

#alt, #sub {
    background: url(../images/r4/bg-sub.jpg) top center;
    background-repeat: no-repeat;
}

/* header */
header {
    height: 115px;
    position: relative;
}

/*FIXME: this header is kludge-filled disaster that miraculously works. It, and specifically the searchbox,  needs much refactoring*/
header input.searchbox, /* this selector works fine, however */
.hero input.searchbox {
    background-color: white;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    color: inherit;
    line-height: inherit;
    font-style: italic;
}

.hero input.searchbox {
    padding: 11px 0 13px 25px !important;
    background: url(../images/r4/bg-hero-search.png) 0 0 no-repeat !important;
    font-size: 16px !important;
    line-height: 16px !important;
    height: auto;
}

header form input.searchbox {
    width: 200px;
    padding: 3px 10px;
    margin: 0 0 5px 35px;
    font-size: 13px;
    line-height: 13px;
    border: 1px solid #dedede;
    background: url(../images/r4/bg-search.png) 195px 50%;
    background-repeat: no-repeat;

}

.lt-ie9 header form input.searchbox {
    padding: 9px 10px 3px 10px;
}

.lt-ie9 .hero input.searchbox {
    padding: 15px 0 10px 18px !important;
}

/* class  applied on elements elements for browsers that do not have native watermark support */
.searchbox.watermark {
    color: #7d7a77;
}

form.inline {
    display: inline;
}

header h1 {
    margin: 20px 0 0 0;
    float: left;
}

header nav, header form {
    float: right;
    overflow: hidden;
    height: 100px;
}

header nav ul, header nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    font-weight: 700;
    font-size: 13px;
    line-height: 118px;
}

header nav a {
    color: #1b1a18;
    display: block;
    float: left;
    margin-left: 35px;
    letter-spacing: 1px;
    transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -webkit-transition: 0.1s ease-out;
}

header nav a:hover {
    color: #7d7a77;
}

header nav li.active a {
    color: #7a1501;
}

header nav li.button a {
    width: 72px;
    height: 24px;
    display: inline-block;
    background: #7a1501;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    text-align: center;
    margin: 45px -10px 0 25px;
}

header .welcome {
    position: absolute;
    top: 11px;
    right: 0;
    margin: 0;
    /*	margin-right:12px !important;	*/
    font-weight: 700;
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 200;
}

/*
header .welcome a {
	 padding-right: 13px;
	 background: url(../images/r4/bg-welcome.png) right 3px ; background-repeat: no-repeat;
}
*/

header .welcome-drop {
    position: absolute;
    top: 25px;
    right: -5px;
    width: 229px;
    background: url(../images/r4/bg-welcome-drop.png) bottom center;
    background-repeat: no-repeat;
    padding-bottom: 12px;
    display: none;
    z-index: 200;
}

header .welcome-drop p {
    background: url(../images/r4/bg-welcome-top.png) 0 0;
    background-repeat: no-repeat;
    margin: 0;
    padding: 30px 20px 0 20px;
    font-weight: 700;
    font-size: 18px;
    z-index: 200;
}

header .welcome-drop ul {
    margin: 10px 20px;
    padding: 0;
    font-size: 13px;
    list-style: none;
}

#home {
    background: url(../images/r4/bg-home.jpg) center 115px;
    background-repeat: no-repeat;
}

.hero {
    height: 281px;
    position: relative;
    margin-left: 60px;
}

.hero p {
    margin: 18px 0;
    /*	width: 552px;  */
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.hero ul, .hero li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

.hero ul {
    position: absolute;
    top: -50px;
    right: -11px;
    background-color: rgba(106, 83, 58, 0.2);
    padding: 12px 12px 12px 0;
}

.hero ul a {
    float: left;
    margin-left: 12px;
    width: 105px;
}

#slider, #slider li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider li {
    width: 860px;
    padding-bottom: 10px;
}

#slider p {
    width: 370px;
    font-size: 14px;
    line-height: 19px;
    color: #7d7a77;
}

#slider p.title {
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    margin-bottom: 15px;
}

#slider span {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    font-style: italic;
}

#slider a.button {
    margin-right: 7px;
}

/* should I be more specific? */
#slider .primary-thumbnail {
    float: right;
}

.tdar-slider .carousel-control {
    position: absolute;
    top: 145px;
}

.carousel-control {
    display: block;
    width: 24px;
    height: 38px;
    background: url(../images/r4/btns-slider.png) 0 0;
    background-repeat: no-repeat;
    text-indent: -999em;
    opacity: 0.5;
    transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -webkit-transition: opacity 0.1s ease-out;
}

.car-btn:hover {
    opacity: 1;
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
    background-position: -24px 0;
}

.thumbnailLink {
    max-width:100%;
}

/* homepage */
.bucket {
    text-align: center;
}

.bucket .bucket-text {
    text-align: justify;
    min-height: 6em;
}

.bucket img {
    margin: 40px 0 20px 0;
}

.bucket h3 {
    margin: 0 0 8px 0;
}

.bucket p {
    font-size: 13px;
    line-height: 18px;
    color: #7d7a77;
    margin: 0 0 13px 0;
}

/* subnav bar */
.subnav {
    position: relative;
    height: 60px;
}

#sub .subnav {
    margin-bottom: 20px;
}

.subnav ul, .subnav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

.subnav ul.subnav-lft {
    position: absolute;
    top: 0;
    left: 0;
}

.subnav ul.subnav-lft li {
    font-weight: 700;
    font-size: 14px;
    line-height: 60px;
    height: 60px;
    display: block;
    float: left;
    margin-right: 40px;
}

.subnav ul.subnav-lft li a {
    color: #1b1a18;
}

.subnav ul.subnav-lft li a:hover, .subnav ul.subnav-lft li.current_page_item a {
    color: #7a1501;
}

.subnav ul.subnav-lft li.current_page_item {
    background: url(../images/r4/bg-subnav.png) bottom center;
    background-repeat: no-repeat;
}

.subnav ul.subnav-rht {
    position: absolute;
    top: 0;
    right: -11px;
    padding: 12px 12px 12px 0;
}

.subnav ul.subnav-rht a, .subnav ul.subnav-rht form.form-unstyled input {
    float: left;
    margin-left: 12px;
    width: 105px;
}

/* resource navigation toolbar */
.resource-nav {
    height: 40px;
    margin: 40px 0px 40px 30px;
    background: #f0eeeb;
    float: left;
}

.lt-ie9 .resource-nav {
    border-bottom: 40px solid #fff;
}

.resource-nav ul, .resource-nav li, .inline-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

.resource-nav li a {
    float: left;
}

.resource-nav li span.disabled {
    display: inline-block;
}

.resource-nav li a, .resource-nav li span.disabled {
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #7d7a77;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 16px 20px 9px 20px;
    border-right: 1px solid #fff;
}

.resource-nav li span.disabled {
    color: #ccc !important;
}

.lt-ie10 .resource-nav li a {
    padding: 15px 20px 14px 40px !important;
}

.resource-nav li a:hover, .resource-nav li.active a {
    color: #fff;
    background: #7a1501;
    text-decoration: none;
}

.resource-nav li.disabled a:hover {
    background-color: inherit !important;
    color: inherit !important;
    text-decoration: none;
}

.resource-nav li.edit a {
    background-position-y: -40px;
}

.resource-nav li.delete a {
    background-position-y: -95px;
}

.resource-nav li.bookmark a {
    background-position-y: -150px;
}

.resource-nav li.un-bookmark a {
    background-position-y: -300px;
}

.resource-nav li.disabled.bookmark a {
    background-position-y: -300px;
}

.resource-nav li.columns a {
    background-position-y: -203px;
}

.resource-nav li.mapping a {
    background-position: 12px -258px;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

.why h1, .contrib h1, section h1 {
    font-size: 60px;
    line-height: 64px;
    margin: 70px 0 0 40px;
    letter-spacing: -1px;
}

#titlebar h1, article h1 {
    font-size: 45px;
    line-height: 64px;
    margin: 70px 0 0 0px;
    letter-spacing: -1px;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
}

.cols h1 {
    font-size: 30px;
    line-height: 34px;
}

/*retain title formatting on view-page formatting without screwing up the edit pages */
.cols h1.view-page-title {
    margin: -5px 0 0 0 !important;
}

.hero h2 {
    font-size: 60px;
    line-height: 50px;
    letter-spacing: -2px;
    margin: 50px 0 0 0;
}

.cols h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 1em 0 .5em 0;
}

.cols p {
    font-size: 16px;
    line-height: 23px;
    margin: 15px 0 0px 0;
    /* changed  -5 to 0 */
    /* FIXME: this is breaking too much stuff on edit pages in browser-specific ways - use class="pull-left" for specific paragraphs  */
}

.cols iframe {
    margin: 20px 0 -10px 0;
}

.cols p.meta {
    font-size: 14px;
    line-height: 19px;
}

.cols p.sml {
    margin: 15px 0;
    font-size: 14px;
    line-height: 19px;
}

.cols .title-data {
    float: right;
}

.cols .title-data p {
    font-size: 12px;
    margin: -3px;
}

.tableFormat th, .tableFormat td {
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    padding: 8px 10px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    border-bottom: 1px solid #fff;
}

.tableFormat th {
    font-weight: 700;
    background: #1b1a18;
    color: #fff;
}

.tableFormat td {
    background: #eee;
}

.tableFormat tr.alt td {
    background: #ddd;
}


.tableFormat tr.row_odd  td{
    background: #ccc;
}

.tableFormat tr.row_odd  td{
	background: white;
}

.cols .guide {
    background: #b6a07d !important;
}

.sub-col {
    float: left;
    width: 350px;
    margin: 5px 0 0 40px;
}

.sub-col p {
    margin: 15px 0 0 0;
    font-size: 14px;
    line-height: 19px;
}

.sub-col-lft {
    clear: left;
    margin-left: 0;
}

#alt aside h3 {
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    margin: 20px 0;
}

#sidebar-left ul, #sidebar-left li {
    margin: 0;
    list-style: none;
}

#alt aside li {
    font-size: 13px;
    line-height: 17px;
    color: #7d7a77;
    margin-top: 15px;
}

#alt aside ul.collection-treeview a {
    overflow-wrap: break-word;
}

#alt aside ul.collection-treeview li {
    margin-top: auto;
}

#alt aside li strong {
    font-weight: 700;
    font-size: 12px;
    color: #1b1a18;
    letter-spacing: 1px;
    line-height: 14px;
    text-transform: uppercase;
}

#alt aside h3.downloads {
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    color: #fff;
    height: 45px;
    line-height: 45px;
    margin: 0 !important;
    padding: 0 10px;
    background: #7a1501;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}

#alt aside h3.downloads span.downloadNumber {
    display: inline-block;
    float: right;
    font-size: 13px;
    line-height: 22px !important;
    background: #641b11;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 22px;
    text-align: center;
    margin-top: 11px;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

#alt aside ul.downloads, aside ul.downloads li {
    background: #f0eeeb;
    margin: 0 !important;
}

#alt aside ul.downloads li {
    color: #7d7a77;
    padding: 14px 10px 14px 32px;
    border-bottom: 1px solid #fff;
}

.why article h2, .why article p, .why article ul {
    width: 350px;
    margin: 0;
}

h1 span, h4 span {
    color: #7a1501;
    font-size: 80%;
}

.why article h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}

.why article p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 15px;
}

.why article ul {
    margin: 0 0 20px 0;
    padding: 0 0 0 20px;
}

.why article li {
    font-size: 14px;
    line-height: 20px;
    color: #7d7a77;
    margin: 0;
    padding: 0;
}

.why li span {
    color: #1b1a18;
}

.why article.find {
    background: url(../images/r4/bg-find.png) top right;
    background-repeat: no-repeat;
    padding-bottom: 35px;
}

.why article.find h2, .why article.find p, .why article.find ul {
    margin-left: 100px;
}

.why article.preserve {
    padding: 43px 0 35px 0;
    background: url(../images/r4/bg-preserve.png) 120px 30px;
    background-repeat: no-repeat;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.why article.preserve h2, .why article.preserve p, .why article.preserve ul {
    margin-left: 520px;
}

.why article.extend {
    padding-top: 40px;
    background: url(../images/r4/bg-extend.png) 520px 55px;
    background-repeat: no-repeat;
}

.why article.extend h2, .why article.extend p, .why article.extend ul {
    margin-left: 100px;
}

#titlebar h1, .searchresults h1 {
    margin: 0;
    padding: 0;
}


.pagin {
    width: 100%;
}

.pagin td {
    text-align: center;
}

.carousel-inner .item.prev, .carousel-inner .item.next {
    visibility: hidden !important;
    display: none !important;
}

.pagin td.prev, .pagin td.next {
    font-weight: 700;
    text-transform: uppercase;
    width: 1px;
}

.pagin ul, .pagin li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.pagin li {
    font-weight: 600;
    font-size: 13px;
    margin: 0 3px;
}

footer {
    margin-top: 60px;
    background: url(../images/r4/bg-footer.png) repeat;
    padding: 50px 0;
}

footer h4 {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin: 0 0 15px 0;
}

.unstyled-list {
    list-style: none;
    margin-left: 0px;
}

footer ul, footer li {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: left;
    font-size: 13px;
    line-height: 22px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #f1d9bf;
}

/* Form Styles */
.span12 hr {
    margin-left: 0px !important;
}

#ajaxIndicator {
    position: fixed;
    width: 25%;
    z-index: 10001;
    right: 5px;
    bottom: 5px;
    opacity: .9;
}

header nav {
    position: absolute !important;
    right: 0px;
    z-index: 100;
}

nav ul {
    padding-right: 10px !important;
}

.responsive-phone #sidebar-right {
    margin-left: 0px !important;
}

.responsive-phone .sidebar {
    background: none !important;
}

.view .sidebar, .dashboard .sidebar {
    background: url(../images/r4/bg-cols-right.png) top left repeat-y;
    margin-left: 0px;
    padding-left: 0px;
}

.edit .sidebar, .add .sidebar {
    margin-top: 80px;
}

/* remove margin for first column when using grid-layout in a control-group so that they line up a little better with other fields. **/
/* TODO: this is necessary in bootstrap 2.2.2,  but I suspect it will be accounted for in later version  */
.controls-row > div[class *="span"]:first-child {
    margin-left: 0;
}

.searchheader input[type=text] {
    margin: 0px !important;
}

span.cartouche {
    background-color: #888;
    padding: 3px 9px 4px 5px;
    font-size: 9px;
    margin-left: -1px;
    margin-right: 5px;
    font-weight: 700;
    color: white;
    line-height: 16px;
    display: inline-block;
    height: 15px !important;
}

.resource-nav li i, i.bookmark-icon {
    background: url(../images/r4/resource-types-large.gif);
    background-repeat: no-repeat;
    width: 18px;
    height: 14px;
    display: inline-block;
}

.resource-nav li i.tdar-icon-edit {
    background-position: -31px -2437px !important;
}

.resource-nav li i.tdar-icon-edit-active, .resource-nav li:hover i.tdar-icon-edit {
    background-position: -31px -2490px !important;
}

.resource-nav li i.tdar-icon-add {
    background-position: -228px -2437px !important;
}

.resource-nav li i.tdar-icon-add-active, .resource-nav li:hover i.tdar-icon-add {
    background-position: -228px -2490px !important;
}

.resource-nav li i.tdar-icon-view {
    background-position: -1px -2437px !important;
}

.resource-nav li i.tdar-icon-view-active, .resource-nav li:hover i.tdar-icon-view {
    background-position: -1px -2490px !important;
}

.resource-nav li i.tdar-icon-delete {
    background-position: -56px -2437px !important;
}

.resource-nav li i.tdar-icon-delete-active, .resource-nav li:hover i.tdar-icon-delete {
    background-position: -56px -2490px !important;
}

.resource-nav li i.tdar-icon-columns {
    background-position: -84px -2437px !important;
}

.resource-nav li i.tdar-icon-columns-active, .resource-nav li:hover i.tdar-icon-columns {
    background-position: -84px -2490px !important;
}

.resource-nav li i.tdar-icon-mapping {
    width: 25px;
    background-position: -111px -2437px !important;
}

.resource-nav li i.tdar-icon-mapping-active, .resource-nav li:hover i.tdar-icon-mapping {
    width: 25px;
    background-position: -111px -2490px !important;
}

.resource-nav li i.tdar-icon-mapping-disabled {
    width: 25px;
    background-position: -111px -2437px !important;
}

i.tdar-icon-bookmark {
    background-position: -148px -2437px !important;
}

i.tdar-icon-bookmark-active, a:hover i.tdar-icon-bookmark-active, .resource-nav li:hover i.tdar-icon-bookmark {
    background-position: -148px -2490px !important;
}

i.tdar-icon-bookmarked {
    background-position: -179px -2437px !important;
}

i.tdar-icon-bookmarked-active, a:hover i.tdar-icon-bookmarked, .resource-nav li:hover i.tdar-icon-bookmarked {
    background-position: -179px -2490px !important;
}

/* i.tdar-icon-bookmark-disabled {
	background-position: -210px -2437px !important;
}
 */
i.tdar-icon-bookmark-disabled, a:hover i.tdar-icon-bookmark-disabled, .resource-nav li:hover i.tdar-icon-bookmark-disabled {
    background-position: -208px -2437px !important;
}

#toolbars i {
    margin-top: -4px;
    margin-bottom: -2px;
}

.responsive-desktop .hidden-desktop, .hidden-desktop, responsive-desktop .hidden-phone {
    display: none;
}

/* for the website to allow us to add extra space at top */
.space-above {
    margin-top: 30px;
}

.primary-thumbnail {
    height: 125px;
    display: inline-block;
    width: 125px;
    /* TODO: use the lines below if thumbnails need to be something other than span2 */
    /*min-width: 125px;*/
    /*width: 100%;*/
    vertical-align: middle;
    text-align: center;
}

.thumbnail-center-spacing {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.thumbnail-border {
    border: 1px solid #eee;
}

.thumbnail-border:hover, .thumbnail-border-selected {
    border: 1px solid #aeaeae;
}

.table-row-separator-above {
    border-top: 2px dashed #aaa;
}

.strikethrough {
    text-decoration: line-through;
}

.caret.drop-down {
    margin-top: 7px;
    margin-left: 5px;
    border-top-color: #7a1501 !important;
}

#infovis {
    height: 300px;
    overflow: hidden;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.nogrid .jqplot-grid-canvas {
    display: none;
}

#ontology-nodes .hidden-nodes {
    display: none;
    visibility: hidden;
}

div.orgChart h2 {
    font-size: 10px !important;
    font-family: helvetica !important;
    line-height: 20px;
}

.orgChart div.node {
    height: auto !important;
    width: auto !important;
    min-width: 80px;
    min-height: 50px;
}

.hiddenChildren:after {
    content: "(show more)";
    font-size: 10px !important;
    font-family: helvetica !important;
}

div#ontologyTarget {
    background-color: #efefef;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.image-carousel.carousel {
    margin-bottom: 10px;
    padding: 0 40px 10px 40px;
}

/* Changes the position of the indicators */
.carousel-indicators {
    width: 100%;
    top: auto;
    bottom: 0px;
    /* override bootstrap defaults so that page indicators don't overflow into thumbnail section when they wrap (e.g. carousel w/ 100's of images) */
    /*margin-right: -19px;*/
    position: inherit !important;
    margin: 1em 0 0 0;
}

.image-carousel .carousel-indicators .active {
    background: #333333;
}

.image-carousel .carousel-indicators span {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 4px;
    margin: 1pt;
    width: 3px;
    height: 3px;
    display: inline-block;
    background: #c0c0c0;
}

.jqplot-xaxis-tick {
    text-align: center;
}

.smaller {
    font-size: 50% !important;
}

#confidentialLabel {
    position: absolute;
    bottom: 0px;
    background-color: white;
    right: 0px;
    padding: 1px 10px 1px 10px;
}

#imageContainer {
    position: relative;
    border: 1px solid #aaa;
    display: inline-block;
}

tr.DELETED {
    text-decoration: line-through;
}

/* for use in debug/console windows and such */
.devconsole {
    font-size: 10pt;
    font-family: consolas, monospace;
    line-height: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 300px;
    overflow-y: scroll;
}

.devconsole.oldschool {
    background-color: #010;
    color: #0f0;

}

#divSearchContext {
    /*position the context search box just the 'search tdar' input*/
    position: absolute;
    right: 10px;
    top: 72px;
    background-color: #ddd;
    width: 205px;
    height: 18px;
    margin: 0;
    padding: 2px 5px 5px 10px;
    font-size: 10pt;
    line-height: 1em;
    border-radius: 5px;
    display: none;
}

#divSearchContext.active {
    display: block;
}

#divSearchContext input {
    padding: 0;
    margin: 0;
}

#divSearchContext label {
    display: inline-block;
    padding: 0 0 0 0;
    vertical-align: top;
    font-family: ff-tisa-web-pro, serif;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
}

.sidebar-spacer {
    padding-top: 80px;
}

.tableFormat th {
    background-color: black !important;
}

.hidden {
    display:none;
    visibility:hidden;
}

p.tableDescription {
    font-style: italic;
    font-size:90%;
    margin-top: -10px;
}

.form-complete-inline {
    margin: 0px !important;
    padding: 0px !important;
    display: inline;
    float: none;
    height: auto !important;
}

.tdar-btn-link {
    padding: 0px;
    color:  #7a1501;
}

.serif {
 font-family: "ff-tisa-web-pro", serif !important;
}   

.black {
    color:#000;
}

.white {
   color:white;
   fill:white;
}

.beige {
   background-color: #E3E0D8;
}

.white-border-bottom {
    border-bottom:4px solid white;
}


hr.light {
    border: 0;
    height: 1px;
    background-color: #eee;
}

.keywordHighlight {
    color: #7a1501;
    fill:  #7a1501;
    stroke:#7a1501;
    stroke-width:1px;
    fill-opacity:1 !important;	
}





.ribbon-green {
  z-index:1000;
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: fixed;
  padding: 7px 0;
  left: -34px;
  top: 11px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

ul .header-auto {
	text-decoration:underline;
}

.break-word {
    overflow-wrap: break-word;
}

#divIntegrationHeader {
    padding-top: 2em
}

.disabled {
    color:#ddd;
}

.collection-embed {
    border:1px solid #DDD;
    border-radius:5px;
    /* color:#AAA; */
    margin-left:5px;
    margin-right:5px;
    padding:2px;
    font-size:90%;
}


#emptyProjects li {
    line-height:22px;
}



#foothumb .ht {max-height:75px ; min-height:75px; padding-left:20px;padding-right:20px }

#foothumb {   

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#foothumb a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#foothumb .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.bottom-margin-20 {
	margin-bottom:20px;
}

.ui-autocomplete {
	z-index:1000;
}


.smallmargin {
    margin-top:10px;
    margin-bottom:10px;
    
}