
#divInvoiceSubtotal {
    padding: 0 0.5em 0 0.5em;
    line-height: normal;
}

#divInvoiceSubtotal h3 {
    margin: 0 0 1em 0;
    padding:0;
}

#divInvoiceSubtotal .amt {
    font-size: 45pt;
    font-weight: bold;
    color: #707070;
    display: inline-block;
    margin: 0 0 0.5em 0;
}

#divInvoiceSubtotal .item-desc {
    display:inline-block;
    width: 100%;
    font-size: 10pt;
}

.table-invoice tr .invoice-total {
    font-size: 23pt;
}
/* bootstrap overrides .text-right for tables (because reasons) */
.table-invoice .text-right {
    text-align:right;
}
.table-invoice thead {
    background-color: #eee;
    border-top: 1px solid #999;
}
.table-invoice thead th {
    padding-bottom: 2px;
}

.table-invoice tbody tr:first-child td{
    border-top: 1px solid #999;
}

.table-invoice th, .table-invoice td {
    padding:4px;
}

div.tdar-rates {
    border-right: 1px dashed #bbb;padding-right: 40px;
}
