/*
    overrides of tdar-base.css and tdar-bootstrap.css go here
*/
.subnav-section {
    background-image: url("/images/wl/bg-sub.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

div.searchheader {
    background: url("/images/r4/bg-home.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
}

div.searchheader {

}

div.viewpage-section {
    margin-top: 1em;
    padding-bottom: 3em;
    margin-bottom: 1em;
    border-bottom: 1px solid #999;
}

/** override carousel item height when inside viewpage **/
div.viewpage-section .tdar-slider .carousel-inner .item {
    height: inherit !important;
}

/** inline title, e.g. for list of direct sub-collections **/
strong.title, a.title {
    color: #7a1501;
    font-weight: bold;
    font-size: larger;
}

.whitelabel-logo {
    width: 15em;
}