<div>
<div class="span9 leaflet-map-results" style="height: 450px; position: relative;" data-maxy="50.273"
data-leaflet-api-key="1234" data-leaflet-tile-provider="osm" data-minx="-120.674" data-maxx="-86.583" data-miny="23.564"></div>
<div class="span9">
 <ol class="resource-list MAP">
 <li class="listItem " data-lat="42.64999088096923" data-long="-90.54468154907227" data-lat-length="0.048230556755712" data-long-length="0.0696945190429688" data-scale="1" id="resource-6058">
 <h3 class="search-result-title-DRAFT">
 <a class="resourceLink" href="/document/6058/archaeological-data-recovery-at-roling-1-site-47gt628-ush-151-corridor-belmont-to-dickeyville-grant-county-wisconsin"> Archaeological Data Recovery at Roling #1 Site (47GT628), USH 151 Corridor (Belmont to Dickeyville), Grant County, Wisconsin 
<small>[DRAFT]</small> (2007)
</a>
 <i class="icon-map-marker" title="click to highlight on map" alt="click to highlight on map"></i>
 <a href="/resource/bookmark?resourceId=6058" class="bookmark-link" resource-id="6058" bookmark-state="bookmark">
 <i title="bookmark or unbookmark" class="bookmark-icon tdar-icon-bookmark"></i>
</a>
 </h3>
 <blockquote class="luceneScore">
 <b>score:</b>3.437<br>
 </blockquote>
 </li>
 <li class="listItem " data-lat="42.64999088096923" data-long="-90.54468154907227" data-lat-length="0.048230556755712" data-long-length="0.0696945190429688" data-scale="1" id="resource-6057">
 <h3 class="search-result-title-DRAFT">
 <a class="resourceLink" href="/project/6057/archaeological-sites-driftless-area-grant-county-wisconsin"> Archaeological Sites, Driftless Area, Grant County, Wisconsin 
<small>[DRAFT]</small> 
</a>
 <i class="icon-map-marker" title="click to highlight on map" alt="click to highlight on map"></i>
 <a href="/resource/bookmark?resourceId=6057" class="bookmark-link" resource-id="6057" bookmark-state="bookmark">
 <i title="bookmark or unbookmark" class="bookmark-icon tdar-icon-bookmark"></i>
</a>
 </h3>
 <blockquote class="luceneScore">
 <b>score:</b>3.437<br>
 </blockquote>
 </li>
 <li class="listItem " data-lat="46.22206735922521" data-long="-119.14629936218262" data-lat-length="0.0185275772146483" data-long-length="0.0369071960449219" data-scale="1" id="resource-6325">
 <h3 class="search-result-title-DRAFT">
 <a class="resourceLink" href="/project/6325/the-archaeology-of-kennewick-man"> The Archaeology of Kennewick Man 
<small>[DRAFT]</small> 
</a>
 <i class="icon-map-marker" title="click to highlight on map" alt="click to highlight on map"></i>
 <a href="/resource/bookmark?resourceId=6325" class="bookmark-link" resource-id="6325" bookmark-state="bookmark">
 <i title="bookmark or unbookmark" class="bookmark-icon tdar-icon-bookmark"></i>
</a>
 </h3>
 <blockquote class="luceneScore">
 <b>score:</b>3.437<br>
 </blockquote>
 </li>
 <li class="listItem " data-lat="37.519999999999996" data-long="-108.545" data-lat-length="0.1000000000000014" data-long-length="0.0900000000000034" data-scale="1" id="resource-6205">
 <h3 class="search-result-title-DRAFT">
 <a class="resourceLink" href="/dataset/6205/botanical-resources-corn"> Botanical Resources: Corn 
<small>[DRAFT]</small> 
</a>
 <i class="icon-map-marker" title="click to highlight on map" alt="click to highlight on map"></i>
 <a href="/resource/bookmark?resourceId=6205" class="bookmark-link" resource-id="6205" bookmark-state="bookmark">
 <i title="bookmark or unbookmark" class="bookmark-icon tdar-icon-bookmark"></i>
</a>
 </h3>
 <blockquote class="luceneScore">
 <b>score:</b>3.437<br>
 </blockquote>
 </li>
 <li class="listItem " data-lat="37.519999999999996" data-long="-108.545" data-lat-length="0.1000000000000014" data-long-length="0.0900000000000034" data-scale="1" id="resource-6242">
 <h3 class="search-result-title-DRAFT">
 <a class="resourceLink" href="/dataset/6242/botanical-resources-pollen"> Botanical Resources: Pollen 
<small>[DRAFT]</small> 
</a>
 <i class="icon-map-marker" title="click to highlight on map" alt="click to highlight on map"></i>
 <a href="/resource/bookmark?resourceId=6242" class="bookmark-link" resource-id="6242" bookmark-state="bookmark">
 <i title="bookmark or unbookmark" class="bookmark-icon tdar-icon-bookmark"></i>
</a>
 </h3>
 <blockquote class="luceneScore">
 <b>score:</b>3.437<br>
 </blockquote>
 </li>
 </ol>
 </div>
 </div>